In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

Read the CSV and Perform Basic Data Cleaning

In [3]:
df = pd.read_csv(r'C:\Users\earth\Desktop\class_folder\FinalProject\Resources\filled_final_table.csv')
df.head()

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,NaN,5.52,NaN,0.034063,54.0
1,2022-06,2022,Alexander,312450,34,35,28,0,20,1942,370648,59,NaN,5.52,NaN,0.016428,25.0
2,2022-06,2022,Alleghany,389000,54,39,24,0,20,1904,422802,92,NaN,5.52,NaN,-0.038200,0.0
3,2022-06,2022,Anson,170000,22,34,16,0,8,1502,262240,48,NaN,5.52,NaN,0.218638,3.0
4,2022-06,2022,Ashe,485000,76,31,48,0,20,1907,592879,137,NaN,5.52,NaN,-0.088346,5.0

In [28]:
#conditional based column = np.where(df['median_listing_price_mm'] (x>=0), 'up(1)', 'down(0)')
df['Price_Status'] = np.where(df['median_listing_price_mm']>=0, 'up', 'down')
df['violent_crime_rate']= df['violent_crime_rate'].str.replace(',','').astype(float)
df.head()

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks,Price_Status
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,NaN,5.52,NaN,0.034063,54.0,up
1,2022-06,2022,Alexander,312450,34,35,28,0,20,1942,370648,59,NaN,5.52,NaN,0.016428,25.0,up
2,2022-06,2022,Alleghany,389000,54,39,24,0,20,1904,422802,92,NaN,5.52,NaN,-0.038200,0.0,down
3,2022-06,2022,Anson,170000,22,34,16,0,8,1502,262240,48,NaN,5.52,NaN,0.218638,3.0,up
4,2022-06,2022,Ashe,485000,76,31,48,0,20,1907,592879,137,NaN,5.52,NaN,-0.088346,5.0,down

In [29]:
df_new1 = df.drop(['Date'], axis=1)
df_new1.dtypes

Year                         int64
County                      object
median_listing_price         int64
active_listing_count         int64
median_days_on_market        int64
new_listing_count            int64
price_increased_count        int64
price_reduced_count          int64
median_square_feet           int64
average_listing_price        int64
total_listing_count          int64
violent_crime_rate         float64
30_Year_Fixed_Rate         float64
Number_of_Schools          float64
median_listing_price_mm    float64
Number_of_Parks            float64
Price_Status                object
dtype: object

In [30]:
df_new1["Year"].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016], dtype=int64)

In [31]:
filter_df = df_new1[df_new1['Year'] <2019]
#filter_df["Year"].unique()

In [32]:

columns = [
     "Year", "County", 
    "active_listing_count", "median_days_on_market", "new_listing_count",
    "price_increased_count", "price_reduced_count", "median_square_feet",
    "total_listing_count", "violent_crime_rate","Number_of_Parks",
    "Number_of_Schools","30_Year_Fixed_Rate", 
     "Price_Status"]

target = ["Price_Status"]

In [33]:
# Load the data

df_data = filter_df.loc[:, columns].copy()
df_data = df_data.dropna()

df_data.reset_index(inplace=True, drop=True)

df_data.head()
df_data.isnull().sum()

Year                     0
County                   0
active_listing_count     0
median_days_on_market    0
new_listing_count        0
price_increased_count    0
price_reduced_count      0
median_square_feet       0
total_listing_count      0
violent_crime_rate       0
Number_of_Parks          0
Number_of_Schools        0
30_Year_Fixed_Rate       0
Price_Status             0
dtype: int64

Split the Data into Training and Testing

In [34]:
# Create our features
X = df_data.drop('Price_Status', axis=1)

X = pd.get_dummies(X)

# Create our target
y = df_data.loc[:, target].copy()

In [35]:
# Check the balance of our target values
y.value_counts()

Price_Status
up              1448
down            1162
dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1) 
                                                 
X_test.shape

(653, 104)

Balanced Random Forest ClassifierÂ¶

In [37]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1) 
rf_model = rf_model.fit(X_train, y_train)
Counter(y_train['Price_Status'])

Counter({'down': 864, 'up': 1093})

In [38]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = rf_model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[162, 136],
       [162, 193]], dtype=int64)

In [39]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

# score changes to 1.0 if violent_crime_rate is converted from object to float

0.5436430664524057

In [40]:
# Print the imbalanced classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

        down       0.50      0.54      0.52       298
          up       0.59      0.54      0.56       355

    accuracy                           0.54       653
   macro avg       0.54      0.54      0.54       653
weighted avg       0.55      0.54      0.54       653

In [41]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.10671278415466, '30_Year_Fixed_Rate'),
 (0.10096187499467439, 'active_listing_count'),
 (0.10089983780866356, 'median_days_on_market'),
 (0.10030907920154715, 'median_square_feet'),
 (0.09677620884921763, 'total_listing_count'),
 (0.08711799004372474, 'new_listing_count'),
 (0.08689255814566962, 'price_reduced_count'),
 (0.055766691604878356, 'violent_crime_rate'),
 (0.04388434602107332, 'Number_of_Schools'),
 (0.03942473932878671, 'price_increased_count'),
 (0.03647066187110157, 'Number_of_Parks'),
 (0.024335716315164187, 'Year'),
 (0.003395867613404141, 'County_Swain'),
 (0.0028051118133615004, 'County_Rutherford'),
 (0.002511960467145174, 'County_Duplin'),
 (0.0020618194621488304, 'County_Orange'),
 (0.0020215274389601976, 'County_Stanly'),
 (0.0019855941135636856, 'County_Henderson'),
 (0.0019730372687337, 'County_Clay'),
 (0.0018865602554889811, 'County_Stokes'),
 (0.001810053704152922, 'County_Cleveland'),
 (0.0017691052059457463, 'County_Wilkes'),
 (0.0017510276278626, 'County_Halifax'),
 (0.001713585374535722, 'County_Columbus'),
 (0.0016913075675902103, 'County_Hoke'),
 (0.001684506339716614, 'County_Alamance'),
 (0.0016809902840312608, 'County_Richmond'),
 (0.0016556789188816117, 'County_Alleghany'),
 (0.001653597845476888, 'County_Forsyth'),
 (0.00164354325515486, 'County_Haywood'),
 (0.001636238950050342, 'County_Lenoir'),
 (0.0016298091451422436, 'County_Wayne'),
 (0.0016170497963639207, 'County_Transylvania'),
 (0.0015956289145247667, 'County_Surry'),
 (0.001582063194661637, 'County_Wilson'),
 (0.001577267694623279, 'County_Jackson'),
 (0.0015577106058050237, 'County_Avery'),
 (0.0015395455515398435, 'County_Beaufort'),
 (0.0015170325997016958, 'County_Pasquotank'),
 (0.0015090534627108952, 'County_Davidson'),
 (0.001468227790923796, 'County_Craven'),
 (0.0014555444915036182, 'County_Alexander'),
 (0.0014486294395683105, 'County_Vance'),
 (0.001447388037103263, 'County_Catawba'),
 (0.0014264476652338526, 'County_Rowan'),
 (0.0014263953408905205, 'County_Yancey'),
 (0.0014018066280176795, 'County_Pender'),
 (0.001384892134964264, 'County_Person'),
 (0.0013839267599434707, 'County_Davie'),
 (0.0013748921066700742, 'County_Montgomery'),
 (0.001370504973973739, 'County_Lincoln'),
 (0.0013489665457829339, 'County_Polk'),
 (0.0013441598133534026, 'County_Chatham'),
 (0.001343020066958941, 'County_Pamlico'),
 (0.0013293921719427448, 'County_Randolph'),
 (0.0013141419177082505, 'County_Madison'),
 (0.0012967211873507092, 'County_Burke'),
 (0.0012913438114361695, 'County_Northampton'),
 (0.0012668335239600505, 'County_Rockingham'),
 (0.00124745571850023, 'County_Pitt'),
 (0.0012331596963124154, 'County_Robeson'),
 (0.0012317078428333396, 'County_Iredell'),
 (0.0012300718583486026, 'County_Currituck'),
 (0.0012241153964516341, 'County_Gaston'),
 (0.0012232071715145777, 'County_Sampson'),
 (0.0012207844061535259, 'County_Perquimans'),
 (0.001214488956940399, 'County_Martin'),
 (0.0012130993001308991, 'County_Watauga'),
 (0.0012068374566367673, 'County_Hertford'),
 (0.0012062032834950433, 'County_Carteret'),
 (0.0011829986239697756, 'County_Franklin'),
 (0.0011821538079457342, 'County_Bertie'),
 (0.0011813751645486955, 'County_Caldwell'),
 (0.0011738481650630734, 'County_Onslow'),
 (0.0011567355583391868, 'County_Dare'),
 (0.0011338124700430237, 'County_Johnston'),
 (0.0011317983827788432, 'County_Cabarrus'),
 (0.001129102539285588, 'County_Yadkin'),
 (0.001089935048498306, 'County_Union'),
 (0.0010791786244030304, 'County_Chowan'),
 (0.0010544968218846422, 'County_Granville'),
 (0.001025568582884326, 'County_Moore'),
 (0.0010157966689297957, 'County_Warren'),
 (0.0009969389740732693, 'County_Macon'),
 (0.000982422196081586, 'County_Cherokee'),
 (0.000969913946913269, 'County_Brunswick'),
 (0.00095341060741106, 'County_Harnett'),
 (0.0009520827606294738, 'County_Scotland'),
 (0.0009164224180834336, 'County_Caswell'),
 (0.0008526380611666482, 'County_Anson'),
 (0.0008430780644703201, 'County_Camden'),
 (0.000759816975139269, 'County_Guilford'),
 (0.0007519640645264231, 'County_Tyrrell'),
 (0.000739388622655674, 'County_Graham'),
 (0.000736945793162449, 'County_Edgecombe'),
 (0.0006950006034672868, 'County_Greene'),
 (0.0006745796994352788, 'County_Cumberland'),
 (0.0005528416805375513, 'County_Durham'),
 (0.0005258269580400919, 'County_Buncombe'),
 (0.0005101476467835316, 'County_Lee'),
 (0.0005027794348907456, 'County_Wake'),
 (0.00042749945263251195, 'County_Mecklenburg'),
 (0.00036243971736997353, 'County_Ashe'),
 (0.00017393355891356571, 'County_Nash')]

# Hypertune features

In [54]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=900, random_state=1) 
rf_model = rf_model.fit(X_train, y_train)
Counter(y_train['Price_Status'])

Counter({'down': 864, 'up': 1093})

In [55]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = rf_model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[157, 141],
       [153, 202]], dtype=int64)

In [56]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.5479298610454675

In [57]:
# Print the imbalanced classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

        down       0.51      0.53      0.52       298
          up       0.59      0.57      0.58       355

    accuracy                           0.55       653
   macro avg       0.55      0.55      0.55       653
weighted avg       0.55      0.55      0.55       653

In [ ]:
# heat map of feature correlation
plt.rcParams['figure.figsize']=35,35
g = sns.heatmap(df.corr(),annot=True, fmt = ".1f")

In [ ]:
# distribution plot of column
sns.distplot(df['median_listing_price'])

In [ ]:
# convert Price_class to numeric, distribution of median_listing_price increase|decrease month/month
df['Price_Status'] = df['Price_Status'].replace(['up','down'],['1','0'])
sns.distplot(df['Price_Status'])

In [ ]:
# Reference code for heatmaps :https://www.kaggle.com/code/bsivavenu/house-price-calculation-methods-for-beginners

# most correlated features
corrmat = df.corr()
top_corr_features = corrmat.index[abs(corrmat["median_listing_price"])>0.30]
plt.figure(figsize=(10,10))
g = sns.heatmap(df[top_corr_features].corr(),annot=True,cmap="mako")

In [ ]:
# seaborn linear regression fit: median listing price vs median square feet
sns.jointplot(data=df, x="median_listing_price", y="median_square_feet", kind="reg")

# outliers present

In [ ]:
#median_listing_price vs average listing price
sns.jointplot(data=df, x="median_listing_price", y="average_listing_price", kind="reg")

In [ ]:
# seaborn linear regression fit: median listing price vs median square feet
sns.jointplot(data=df, x="median_listing_price", y="violent_crime_rate", kind="reg")

In [ ]:
#median listing price vs Year
sns.jointplot(data=df, x="median_listing_price", y="Year", kind="reg")

In [ ]:
# Find Missing Ratio of Dataset
# reference: https://stackoverflow.com/questions/51070985/find-out-the-percentage-of-missing-values-in-each-column-in-the-given-dataset
#percent_missing = df.isnull().sum() * 100 / len(df)
#missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 #'percent_missing': percent_missing})
#missing_value_df

In [ ]:
# reference
# https://www.kaggle.com/code/kanncaa1/machine-learning-tutorial-for-beginners/notebook
#https://www.kaggle.com/code/erick5/predicting-house-prices-with-machine-learning/notebook

In [ ]:
# dict of county names with values
#county_names = df.County.unique()
#county_di = dict(zip(county_names, range(len(county_names))))
#county_di

In [ ]:
# county names with #'s'
#df_new = df.copy()
#df_new['County'].replace(county_di, inplace=True)
#df_new.head()

In [ ]:
#df_new.to_csv("c:/tmp/courses.csv",header=False)

In [ ]:
# copy the data
#df_max_scaled = df_data.copy()
  
# apply normalization techniques
#for column in df_max_scaled.columns:
    #df_max_scaled[column] = df_max_scaled[column]  / df_max_scaled[column].abs().max()
      
# view normalized data
#display(df_max_scaled)