In [94]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

Read the CSV and Perform Basic Data Cleaning

In [105]:
df = pd.read_csv(r'C:\Users\earth\Desktop\final_project\filled_final_table.csv')
df= df.sort_values('County')
df.head()

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,NaN,5.52,NaN,0.034063,54.0
2596,2020-04,2020,Alamance,267450,538,46,276,24,56,2096,323437,736,505.5,3.31,NaN,0.019071,54.0
2696,2020-03,2020,Alamance,262445,505,48,304,16,84,2036,306255,718,505.5,3.45,NaN,0.029600,54.0
2796,2020-02,2020,Alamance,254900,517,66,248,8,88,1988,301949,714,505.5,3.47,NaN,0.032828,54.0
2896,2020-01,2020,Alamance,246798,566,75,256,12,172,1953,288490,743,505.5,3.62,NaN,0.037271,54.0

In [102]:
# Class column based on percent change from 'median_listing_price_mm' : reference:https://stackoverflow.com/questions/21702342/creating-a-new-column-based-on-if-elif-else-condition
def f(row):
    if row['median_listing_price_mm'] == 0:
        val = 0 # same
    elif row['median_listing_price_mm'] > 0:
        val = 2 # up
    else:
        val = 1 # down
    return val

In [103]:
df['Price_Status'] = df.apply(f, axis=1)
df.head()

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks,Price_Status
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,NaN,5.52,NaN,0.034063,54.0,2
2596,2020-04,2020,Alamance,267450,538,46,276,24,56,2096,323437,736,505.5,3.31,NaN,0.019071,54.0,2
2696,2020-03,2020,Alamance,262445,505,48,304,16,84,2036,306255,718,505.5,3.45,NaN,0.029600,54.0,2
2796,2020-02,2020,Alamance,254900,517,66,248,8,88,1988,301949,714,505.5,3.47,NaN,0.032828,54.0,2
2896,2020-01,2020,Alamance,246798,566,75,256,12,172,1953,288490,743,505.5,3.62,NaN,0.037271,54.0,2

In [104]:
df.query('County == "Cherokee"')

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks,Price_Status
4515,2018-09,2018,Cherokee,200000,630,98,108,0,84,1783,265680,635,272.1,4.63,26.0,-0.069551,2.0,1
4115,2019-01,2019,Cherokee,196000,470,142,64,0,32,1700,263252,474,302.1,4.46,NaN,-0.015075,2.0,1
2915,2020-01,2020,Cherokee,219850,422,113,104,0,48,1640,270729,551,305.8,3.62,NaN,0.000227,2.0,2
4415,2018-10,2018,Cherokee,199900,628,112,120,4,96,1750,262052,634,272.1,4.83,26.0,-0.000500,2.0,1
3615,2019-06,2019,Cherokee,199900,524,83,128,8,80,1632,252800,635,302.1,3.80,NaN,0.000000,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2021-05,2021,Cherokee,299900,158,48,172,4,44,1730,365952,420,NaN,2.96,NaN,0.127656,2.0,2
816,2021-10,2021,Cherokee,324900,214,59,120,0,60,1703,385870,459,NaN,3.07,NaN,0.096709,2.0,2
7115,2016-07,2016,Cherokee,174900,936,101,124,4,120,1620,217919,939,210.6,3.44,28.0,NaN,2.0,1
518,2022-01,2022,Cherokee,314900,138,79,84,4,24,1600,445990,340,NaN,3.45,NaN,0.004786,2.0,2
319,2022-03,2022,Cherokee,389000,142,52,132,4,28,1931,440467,367,NaN,4.17,NaN,0.045699,2.0,2

In [6]:
# convert county names to numbers ,dictionary of county names with values
county_names = df.County.unique()
county_di = dict(zip(county_names, range(len(county_names))))
#county_di

In [7]:
# county names with #'s'
df_num = df.copy()
df_num['County'].replace(county_di, inplace=True)
df_num.head()

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks,Price_Status
2417,2020-06,2020,0,282450.0,423.0,53.0,352.0,28.0,124.0,2235.0,350926.0,699.0,505.50,3.16,NaN,0.012366,54.0,2
2982,2020-01,2020,0,246798.0,566.0,75.0,256.0,12.0,172.0,1953.0,288490.0,743.0,505.50,3.62,NaN,0.037269,54.0,2
4046,2019-02,2019,0,255000.0,681.0,101.0,320.0,32.0,152.0,2181.0,286615.0,780.0,420.2,4.37,NaN,0.043235,54.0,2
1274,2021-06,2021,0,280000.0,197.0,20.0,388.0,12.0,48.0,1892.0,411055.0,569.0,NaN,2.98,NaN,0.018182,54.0,2
4981,2018-05,2018,0,239900.0,809.0,64.0,408.0,48.0,200.0,2069.0,273460.0,956.0,419.9,4.59,94.0,NaN,54.0,1

In [8]:
df_num['violent_crime_rate'] = df_num['violent_crime_rate'].str.replace(',','').astype(float)
df_num.dtypes

Date                        object
Year                         int64
County                       int64
median_listing_price       float64
active_listing_count       float64
median_days_on_market      float64
new_listing_count          float64
price_increased_count      float64
price_reduced_count        float64
median_square_feet         float64
average_listing_price      float64
total_listing_count        float64
violent_crime_rate         float64
30_Year_Fixed_Rate         float64
Number_of_Schools          float64
median_listing_price_mm    float64
Number_of_Parks            float64
Price_Status                 int64
dtype: object

In [9]:
df_new1 = df_num.drop(['Date'], axis=1)
df_new1.dtypes

Year                         int64
County                       int64
median_listing_price       float64
active_listing_count       float64
median_days_on_market      float64
new_listing_count          float64
price_increased_count      float64
price_reduced_count        float64
median_square_feet         float64
average_listing_price      float64
total_listing_count        float64
violent_crime_rate         float64
30_Year_Fixed_Rate         float64
Number_of_Schools          float64
median_listing_price_mm    float64
Number_of_Parks            float64
Price_Status                 int64
dtype: object

In [10]:
filter_df = df_new1[df_new1['Year'] <2019]
filter_df["Year"].unique()

array([2018, 2016, 2017], dtype=int64)

In [11]:

len(filter_df)

3000

In [12]:
# leave 'median_listing_price' in columns? Price_Status is classifier for median_listing_price (increased(up)/decreased(down))
columns = [
      "County", 
    "active_listing_count", "median_days_on_market", "new_listing_count",
    "price_increased_count", "price_reduced_count", "median_square_feet",
    "total_listing_count", "violent_crime_rate","Number_of_Parks",
    "Number_of_Schools","30_Year_Fixed_Rate", 
     "Price_Status"]

# conditional column 'Price_status' is condition on 'median_listing...mm' which is "the percentage change
# in the median listing price from the previous month." An increase is 'up', decrease is 'down'.

# df['Price_Status'] = np.where(df['median_listing_price_mm']>=0, 'up', 'down')


# https://www.realtor.com/research/data/

target = ["Price_Status"]

In [13]:
# Load the data

df_data = filter_df.loc[:, columns].copy()
df_data = df_data.dropna()

df_data.reset_index(inplace=True, drop=True)

df_data.head()
len(df_data)

2610

In [58]:
df_data.isnull().sum()

Year                     0
County                   0
active_listing_count     0
median_days_on_market    0
new_listing_count        0
price_increased_count    0
price_reduced_count      0
median_square_feet       0
total_listing_count      0
violent_crime_rate       0
Number_of_Parks          0
Number_of_Schools        0
30_Year_Fixed_Rate       0
Price_Status             0
dtype: int64

Split the Data into Training and Testing

In [14]:
# Create our features
X = df_data.drop('Price_Status', axis=1)

X = pd.get_dummies(X)

# Create our target
y = df_data.loc[:, target].copy()

In [15]:
X.describe()

,County,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,total_listing_count,violent_crime_rate,Number_of_Parks,Number_of_Schools,30_Year_Fixed_Rate
count,2610.000000,2610.000000,2610.000000,2610.00000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000
mean,49.977011,568.260536,113.965900,156.97931,15.834483,132.331034,2067.973180,728.490421,285.934483,90.041379,79.308046,4.130632
std,29.500236,650.648846,41.824278,282.25789,45.725834,233.366958,343.581847,917.663347,176.313277,217.889553,99.827387,0.406472
min,0.000000,12.000000,18.000000,0.00000,0.000000,0.000000,1295.000000,14.000000,19.500000,0.000000,3.000000,3.440000
25%,24.000000,159.000000,84.000000,28.00000,0.000000,20.000000,1847.250000,179.000000,167.000000,10.000000,25.000000,3.900000
50%,49.000000,367.000000,107.000000,72.00000,4.000000,60.000000,1996.000000,434.000000,227.700000,25.000000,47.000000,4.050000
75%,77.000000,681.500000,137.000000,168.00000,12.000000,144.000000,2250.000000,917.750000,365.300000,83.000000,98.000000,4.530000
max,99.000000,4908.000000,330.000000,2256.00000,488.000000,2180.000000,3527.000000,5986.000000,920.300000,1627.000000,574.000000,4.870000

In [16]:
# Check the balance of our target values
y.value_counts()

Price_Status
1               2454
2                133
0                 23
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                  stratify=y)
X_train.shape

(1957, 12)

Balanced Random Forest Classifier¶

In [30]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import accuracy_score
rf_model = BalancedRandomForestClassifier(n_estimators=2500, max_depth=6, min_samples_split=4, random_state=1) 
rf_model = rf_model.fit(X_train, y_train)
Counter(y_train['Price_Status'])

Counter({2: 100, 1: 1840, 0: 17})

In [31]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = rf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5932122528213734

In [22]:
# Calculated the balanced accuracy score
#from sklearn.metrics import balanced_accuracy_score

#balanced_accuracy_score(y_test, y_pred)

In [32]:
# Print the imbalanced classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.02      0.17      0.03         6
           1       1.00      0.79      0.89       614
           2       0.25      0.82      0.39        33

    accuracy                           0.79       653
   macro avg       0.42      0.59      0.43       653
weighted avg       0.95      0.79      0.85       653

In [33]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.27142414236919604, '30_Year_Fixed_Rate'),
 (0.09664850706868736, 'Number_of_Schools'),
 (0.08589166029848276, 'median_days_on_market'),
 (0.07182699583195722, 'total_listing_count'),
 (0.06866745491916126, 'median_square_feet'),
 (0.06633116456334778, 'Number_of_Parks'),
 (0.06270904267198049, 'violent_crime_rate'),
 (0.062279528711767014, 'active_listing_count'),
 (0.06155175314515802, 'price_reduced_count'),
 (0.0609491957994908, 'new_listing_count'),
 (0.053478286459812736, 'County'),
 (0.03824226816095862, 'price_increased_count')]

In [34]:
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier

In [88]:
ad_model = AdaBoostClassifier(n_estimators=1000, random_state=1) 
ad_model = ad_model.fit(X_train, y_train)
y_pred = ad_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.4786628499983549

In [36]:
gb_model = GradientBoostingClassifier(n_estimators=2000, random_state=1) 
gb_model = gb_model.fit(X_train, y_train)
y_pred = gb_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.4655183759418287

Nearest Centroid Classifier

In [37]:
 from sklearn.neighbors import NearestCentroid
nc_model = NearestCentroid()
nc_model.fit(X_train, y_train)
y_pred = nc_model.predict(X_test)
accuracy_score(y_test, y_pred)

0.33843797856049007

SMOTE Oversampling

In [38]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
    X_train, y_train)

Counter(y_resampled['Price_Status'])

Counter({2: 1840, 1: 1840, 0: 1840})

In [39]:
# Train the random forest classifier model using the resampled data
model_SMOTE =rf_model

model_SMOTE.fit(X_resampled, y_resampled)

BalancedRandomForestClassifier(max_depth=6, min_samples_split=4,
                               n_estimators=2500, random_state=1)

In [40]:
# Calculated the balanced accuracy score
y_pred = model_SMOTE.predict(X_test)

balanced_accuracy_score(y_test, y_pred)

0.585546013884776

AdaBoostClassifier SMOTE train

In [41]:
# Train the adaboost classifier model using the resampled data
model_SMOTE =ad_model

model_SMOTE.fit(X_resampled, y_resampled)

AdaBoostClassifier(n_estimators=1000, random_state=1)

In [42]:
# Calculated the balanced accuracy score
y_pred = model_SMOTE.predict(X_test)

balanced_accuracy_score(y_test, y_pred)

0.49452176488007105

SMOTE LogisticRegression

In [44]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
    X_train, y_train)

Counter(y_resampled['Price_Status'])

Counter({2: 1840, 1: 1840, 0: 1840})

In [77]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model_SMOTE = LogisticRegression(solver='sag', max_iter=300, multi_class='ovr', random_state=1)

model_SMOTE.fit(X_resampled, y_resampled)

LogisticRegression(max_iter=300, multi_class='ovr', random_state=1,
                   solver='sag')

In [78]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = model_SMOTE.predict(X_test)

balanced_accuracy_score(y_test, y_pred)

0.6304412200177673

Combined sampling

In [79]:
# Resample the training data with SMOTEENN

from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)

X_resampled, y_resampled = smote_enn.fit_resample(X, y)

Counter(y_resampled['Price_Status'])

Counter({0: 2397, 1: 1897, 2: 2304})

In [80]:
# Train the Logistic Regression model using the resampled data
model_combo = LogisticRegression(solver='sag', random_state=1)

model_combo.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1, solver='sag')

In [81]:
# Calculated the balanced accuracy score
y_pred = model_combo.predict(X_test)

balanced_accuracy_score(y_test, y_pred)

0.6361991247984734

Naive Bayes BernoulliNB

In [86]:
from sklearn.naive_bayes import BernoulliNB
model_naive = BernoulliNB(fit_prior=True, alpha=0)
model_naive.fit(X_train, y_train)
model_naive.predict(X_test)
balanced_accuracy_score(y_test,y_pred)

0.6361991247984734

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model_naive, X, y, scoring='accuracy', n_jobs=-1)
print (scores)

In [ ]:
confusion_matrix(y_test, y_pred)

In [ ]:
# heat map of feature correlation
plt.rcParams['figure.figsize']=35,35
g = sns.heatmap(df.corr(),annot=True, fmt = ".1f")

In [ ]:
# distribution plot of column
sns.distplot(df['median_listing_price'])

In [ ]:
# convert Price_class to numeric, distribution of median_listing_price increase|decrease month/month
df['Price_Status'] = df['Price_Status'].replace(['up','down'],['1','0'])
sns.distplot(df['Price_Status'])

In [ ]:
# Reference code for heatmaps :https://www.kaggle.com/code/bsivavenu/house-price-calculation-methods-for-beginners

# most correlated features
corrmat = df.corr()
top_corr_features = corrmat.index[abs(corrmat["median_listing_price"])>0.30]
plt.figure(figsize=(10,10))
g = sns.heatmap(df[top_corr_features].corr(),annot=True,cmap="mako")

In [ ]:
# seaborn linear regression fit: median listing price vs median square feet
sns.jointplot(data=df, x="median_listing_price", y="median_square_feet", kind="reg")

# outliers present

In [ ]:
#median_listing_price vs average listing price
sns.jointplot(data=df, x="median_listing_price", y="average_listing_price", kind="reg")

In [ ]:
#median listing price vs Year
sns.jointplot(data=df, x="median_listing_price", y="Year", kind="reg")

In [ ]:
# Find Missing Ratio of Dataset
# reference: https://stackoverflow.com/questions/51070985/find-out-the-percentage-of-missing-values-in-each-column-in-the-given-dataset
#percent_missing = df.isnull().sum() * 100 / len(df)
#missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 #'percent_missing': percent_missing})
#missing_value_df

In [ ]:
# reference
# https://www.kaggle.com/code/kanncaa1/machine-learning-tutorial-for-beginners/notebook
#https://www.kaggle.com/code/erick5/predicting-house-prices-with-machine-learning/notebook