In [1]:
import bitdotio 
from pprintpp import pprint

b = bitdotio.bitdotio(<password>)

conn = b.get_connection(<db>)
cur = conn.cursor()
cur.execute("SELECT 1")
pprint(cur.fetchone())

(1, )

In [2]:
import csv
from io import StringIO
import time

import pandas as pd
from sqlalchemy import create_engine
#from config import pg_string

In [3]:
# Create SQLAlchemy engine to manage our database connections
# Note that we bump the statement_timeout to 60 seconds
# pool_pre_ping=True 
engine = create_engine(<postgresql>
                       , pool_pre_ping=True)
# SQL for querying an entire table
sql = f'''
    SELECT *
    FROM "filled_final_table";
'''
# Return SQL query as a pandas dataframe
with engine.connect() as conn:
    # Set 1 minute statement timeout (units are milliseconds)
    conn.execute("SET statement_timeout = 60000;")
    df = pd.read_sql(sql, conn)
df.head()

,date,year,county,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_year_fixed_rate,number_of_schools,median_listing_price_mm,number_of_parks
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,None,5.52,NaN,0.034063,54.0
1,2022-06,2022,Alexander,312450,34,35,28,0,20,1942,370648,59,None,5.52,NaN,0.016428,25.0
2,2022-06,2022,Alleghany,389000,54,39,24,0,20,1904,422802,92,None,5.52,NaN,-0.038200,0.0
3,2022-06,2022,Anson,170000,22,34,16,0,8,1502,262240,48,None,5.52,NaN,0.218638,3.0
4,2022-06,2022,Ashe,485000,76,31,48,0,20,1907,592879,137,None,5.52,NaN,-0.088346,5.0

In [4]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [5]:
# change dtype object to float
df['violent_crime_rate']= df['violent_crime_rate'].str.replace(',','').astype(float)
df.head()

,date,year,county,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_year_fixed_rate,number_of_schools,median_listing_price_mm,number_of_parks
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,NaN,5.52,NaN,0.034063,54.0
1,2022-06,2022,Alexander,312450,34,35,28,0,20,1942,370648,59,NaN,5.52,NaN,0.016428,25.0
2,2022-06,2022,Alleghany,389000,54,39,24,0,20,1904,422802,92,NaN,5.52,NaN,-0.038200,0.0
3,2022-06,2022,Anson,170000,22,34,16,0,8,1502,262240,48,NaN,5.52,NaN,0.218638,3.0
4,2022-06,2022,Ashe,485000,76,31,48,0,20,1907,592879,137,NaN,5.52,NaN,-0.088346,5.0

In [6]:
df_new1 = df.drop(['date'], axis=1)
df_new1.dtypes

year                         int64
county                      object
median_listing_price         int64
active_listing_count         int64
median_days_on_market        int64
new_listing_count            int64
price_increased_count        int64
price_reduced_count          int64
median_square_feet           int64
average_listing_price        int64
total_listing_count          int64
violent_crime_rate         float64
30_year_fixed_rate         float64
number_of_schools          float64
median_listing_price_mm    float64
number_of_parks            float64
dtype: object

In [7]:
filter_df = df_new1[df_new1['year'] <2019]
#filter_df["Year"].unique()
filter_df.head()

,year,county,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_year_fixed_rate,number_of_schools,median_listing_price_mm,number_of_parks
4196,2018,Alamance,249900,761,78,172,28,116,2060,276731,843,419.9,4.64,94.0,0.021635,54.0
4197,2018,Alexander,229900,90,102,8,0,16,1924,258096,103,221.9,4.64,49.0,0.108219,25.0
4198,2018,Alleghany,114900,420,227,4,0,20,1886,179920,438,114.8,4.64,11.0,-0.000870,0.0
4199,2018,Anson,125000,65,100,8,0,12,1500,152823,78,568.4,4.64,15.0,-0.037721,3.0
4200,2018,Ashe,65000,899,214,28,0,52,1776,157405,957,NaN,4.64,7.0,0.000770,5.0

In [8]:

columns = [
     "year", "county",'median_listing_price',
    "active_listing_count", "median_days_on_market", "new_listing_count",
    "price_increased_count", "price_reduced_count", "median_square_feet",
    "total_listing_count", "violent_crime_rate","number_of_parks",
    "number_of_schools","30_year_fixed_rate"]

target = ["median_listing_price"]

In [9]:
# Load the data

df_data = filter_df.loc[:, columns].copy()
df_data = df_data.dropna()

df_data.reset_index(inplace=True, drop=True)

df_data.head()
df_data.isnull().sum()

year                     0
county                   0
median_listing_price     0
active_listing_count     0
median_days_on_market    0
new_listing_count        0
price_increased_count    0
price_reduced_count      0
median_square_feet       0
total_listing_count      0
violent_crime_rate       0
number_of_parks          0
number_of_schools        0
30_year_fixed_rate       0
dtype: int64

Split the Data into Training and Testing

In [41]:
# Create our features
X = df_data.drop('median_listing_price', axis=1)
from sklearn.preprocessing import OneHotEncoder

X = pd.get_dummies(X)

# Create our target
y = df_data.loc[:, target].copy()

In [42]:
data.head()

,year,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,total_listing_count,violent_crime_rate,...,Union,Vance,Wake,Warren,Watauga,Wayne,Wilkes,Wilson,Yadkin,Yancey
0,2018,249900,761,78,172,28,116,2060,843,419.9,...,0,0,0,0,0,0,0,0,0,0
1,2018,229900,90,102,8,0,16,1924,103,221.9,...,0,0,0,0,0,0,0,0,0,0
2,2018,114900,420,227,4,0,20,1886,438,114.8,...,0,0,0,0,0,0,0,0,0,0
3,2018,125000,65,100,8,0,12,1500,78,568.4,...,0,0,0,0,0,0,0,0,0,0
4,2018,245000,272,151,32,0,48,1950,337,221.2,...,0,0,0,0,0,0,0,0,0,0

In [43]:
# Check the balance of our target values
y.value_counts()

median_listing_price
199900                  34
179900                  28
139900                  27
249900                  26
189900                  25
                        ..
243900                   1
244450                   1
244608                   1
244900                   1
74900                    1
Length: 1231, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1) 
                                                 
X_test.shape

(653, 104)

In [45]:
#preprocess data
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scale = scaler.transform(X_train)
X_test_scale = scaler.transform(X_test)

Balanced Random Forest Regressor

In [46]:
#https://scikit-learn.org/0.16/modules/generated/sklearn.ensemble.RandomForestRegressor.html
# Set up 
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=1) 
rf_model = rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test_scale)
Counter(y_train['median_listing_price'])

Counter({180000: 5,
         118950: 1,
         225000: 6,
         190623: 1,
         189700: 3,
         174950: 1,
         148000: 3,
         205000: 3,
         249950: 3,
         198250: 2,
         237500: 1,
         119990: 2,
         117500: 1,
         244500: 2,
         139900: 16,
         300000: 6,
         169900: 19,
         140000: 1,
         158000: 2,
         191450: 1,
         290000: 3,
         296450: 1,
         307566: 1,
         394000: 1,
         229900: 3,
         184900: 8,
         350000: 7,
         196000: 1,
         119900: 9,
         154900: 6,
         447500: 1,
         201724: 1,
         174900: 9,
         287900: 1,
         89995: 1,
         309587: 1,
         209900: 4,
         325000: 9,
         374900: 2,
         274900: 8,
         398900: 1,
         115000: 3,
         249900: 18,
         263000: 1,
         299900: 16,
         278700: 2,
         149500: 3,
         299000: 20,
         237000: 7,
         275000: 20,
         123000: 3,
         144900: 7,
         189900: 22,
         326990: 1,
         139250: 2,
         119000: 3,
         182990: 1,
         194250: 1,
         99850: 2,
         309900: 4,
         140450: 1,
         154450: 2,
         348000: 1,
         399000: 17,
         229500: 1,
         303480: 1,
         199900: 26,
         132000: 1,
         242500: 1,
         328000: 1,
         162900: 1,
         130000: 4,
         312400: 1,
         134950: 1,
         387000: 1,
         292450: 1,
         289500: 5,
         295000: 5,
         139500: 6,
         125000: 5,
         448750: 1,
         129950: 1,
         164900: 10,
         425000: 7,
         398000: 3,
         449000: 1,
         200000: 6,
         171450: 1,
         268900: 4,
         259900: 6,
         212250: 1,
         294900: 2,
         404450: 1,
         112900: 1,
         199700: 3,
         172900: 5,
         172400: 2,
         277450: 3,
         179950: 3,
         195750: 2,
         297000: 3,
         219000: 3,
         281000: 2,
         99900: 9,
         375000: 5,
         389000: 6,
         109900: 6,
         163400: 1,
         319900: 2,
         184950: 4,
         279900: 9,
         203450: 1,
         129900: 19,
         159000: 10,
         285000: 8,
         298250: 1,
         238157: 1,
         302500: 2,
         219450: 3,
         98500: 2,
         369900: 3,
         105000: 1,
         193950: 1,
         370850: 1,
         283675: 1,
         217000: 3,
         142450: 2,
         309000: 2,
         169490: 1,
         229000: 10,
         150000: 8,
         281147: 1,
         431950: 1,
         167200: 1,
         391000: 2,
         279000: 7,
         190000: 6,
         393000: 1,
         152900: 2,
         314500: 1,
         162245: 1,
         88400: 1,
         491500: 1,
         326200: 1,
         98400: 1,
         250000: 8,
         249000: 11,
         189950: 3,
         149450: 1,
         334950: 1,
         177750: 1,
         175000: 6,
         227000: 4,
         145590: 1,
         189250: 1,
         319950: 1,
         79900: 4,
         199500: 7,
         399998: 1,
         170000: 4,
         186858: 1,
         260000: 2,
         293450: 1,
         174700: 2,
         397000: 3,
         210000: 4,
         268500: 2,
         417000: 3,
         88250: 1,
         142500: 3,
         164000: 2,
         264950: 2,
         239000: 9,
         176500: 1,
         405945: 1,
         179900: 20,
         179549: 1,
         159900: 9,
         309500: 1,
         178900: 4,
         271500: 2,
         417250: 1,
         209700: 1,
         197450: 1,
         214450: 1,
         236500: 1,
         342450: 1,
         338083: 1,
         304000: 1,
         239900: 15,
         435000: 1,
         139000: 10,
         129500: 3,
         189450: 2,
         178745: 1,
         269046: 1,
         297900: 2,
         123700: 1,
         289900: 9,
         254500: 1,
         430000: 2,
         127445: 1,
         405923: 1,
         152495: 1,
         165000: 6,
         348500: 2,
         152400: 1,
         129000: 5,
         178500: 1,
         239500: 2,
         317450: 1,
         175695: 1,
         98750: 2,
         187950: 1,
         129700: 3,
         187700: 2,
         187500: 1,
         231800: 1,
         201500: 1,
         183500: 2,
         274768: 1,
         392405: 1,
         254900: 2,
         149750: 1,
         289000: 11,
         362000: 1,
         124900: 5,
         149950: 1,
         429000: 9,
         454950: 2,
         394750: 1,
         124950: 3,
         195450: 2,
         280000: 4,
         382450: 1,
         127700: 1,
         189750: 1,
         111750: 1,
         347000: 1,
         144750: 1,
         396000: 1,
         397300: 1,
         282500: 1,
         377000: 3,
         185000: 7,
         177250: 1,
         179695: 1,
         240877: 1,
         167000: 4,
         202400: 1,
         212600: 1,
         122950: 1,
         340572: 1,
         186000: 1,
         149900: 15,
         442340: 1,
         380000: 1,
         116900: 1,
         188750: 1,
         348700: 1,
         168695: 2,
         222445: 1,
         276450: 1,
         142000: 1,
         349900: 5,
         197000: 1,
         226250: 1,
         289200: 1,
         182500: 2,
         265000: 5,
         305900: 1,
         215000: 6,
         199950: 5,
         406863: 1,
         419450: 1,
         399900: 9,
         172500: 1,
         89900: 2,
         143700: 2,
         299501: 1,
         292000: 2,
         128500: 2,
         264450: 1,
         211700: 1,
         396500: 1,
         339900: 1,
         290715: 1,
         253250: 1,
         186250: 1,
         118750: 1,
         159250: 1,
         152950: 2,
         98950: 1,
         334500: 2,
         183490: 1,
         269900: 8,
         248990: 1,
         234900: 3,
         304900: 2,
         219900: 7,
         264900: 3,
         225900: 1,
         187050: 1,
         413750: 1,
         164950: 3,
         287400: 1,
         340900: 1,
         427000: 1,
         128745: 1,
         191448: 1,
         309009: 1,
         147500: 2,
         294000: 4,
         294950: 1,
         206585: 1,
         400000: 7,
         518121: 1,
         357516: 1,
         235000: 2,
         173700: 3,
         179500: 1,
         152768: 1,
         236445: 1,
         381190: 1,
         401045: 1,
         133750: 1,
         500000: 1,
         163500: 1,
         222300: 1,
         157900: 1,
         273750: 2,
         383370: 1,
         259250: 1,
         124000: 2,
         174800: 2,
         274450: 2,
         156950: 1,
         157000: 2,
         308000: 1,
         198400: 1,
         300500: 1,
         134900: 7,
         292500: 2,
         185950: 2,
         169948: 1,
         175900: 1,
         299999: 1,
         133000: 1,
         171000: 2,
         359000: 4,
         89950: 1,
         157500: 2,
         197500: 3,
         334200: 1,
         136900: 1,
         269000: 6,
         182600: 1,
         305500: 1,
         322900: 1,
         414900: 1,
         284450: 1,
         249500: 1,
         217450: 5,
         89450: 2,
         299500: 4,
         238000: 2,
         174400: 1,
         395000: 5,
         159450: 5,
         390400: 1,
         349950: 2,
         195000: 5,
         224900: 6,
         433352: 1,
         154750: 1,
         184800: 1,
         385000: 4,
         297250: 1,
         249200: 1,
         163700: 1,
         439000: 4,
         244000: 2,
         101000: 1,
         87450: 1,
         499900: 1,
         234000: 2,
         194950: 1,
         396827: 1,
         464950: 1,
         122600: 1,
         360450: 1,
         218400: 1,
         325056: 1,
         280900: 3,
         262450: 1,
         268000: 1,
         256248: 1,
         272310: 1,
         147900: 3,
         365000: 2,
         155000: 1,
         169450: 7,
         126250: 1,
         270000: 2,
         327500: 2,
         281250: 1,
         179000: 3,
         131950: 1,
         200750: 1,
         289950: 1,
         168000: 1,
         345900: 2,
         189000: 12,
         182000: 1,
         192000: 2,
         133950: 1,
         359900: 1,
         254950: 1,
         153950: 1,
         137000: 1,
         202450: 1,
         262900: 1,
         222200: 1,
         337000: 1,
         160900: 2,
         260950: 1,
         295900: 1,
         357500: 1,
         360548: 1,
         133900: 1,
         148750: 1,
         231950: 2,
         188000: 2,
         410000: 2,
         165950: 1,
         167400: 1,
         285172: 1,
         90000: 1,
         348900: 1,
         192400: 2,
         389479: 1,
         170900: 1,
         188400: 1,
         224950: 2,
         169200: 1,
         84900: 1,
         229950: 2,
         398800: 1,
         162400: 1,
         282000: 2,
         277400: 1,
         213975: 1,
         180950: 1,
         237200: 1,
         173950: 1,
         339000: 4,
         193745: 1,
         137700: 1,
         86000: 1,
         266950: 1,
         122000: 1,
         248900: 1,
         177000: 1,
         438250: 1,
         149000: 4,
         99000: 5,
         147000: 3,
         369450: 1,
         399950: 2,
         198450: 2,
         281200: 1,
         205500: 1,
         186990: 1,
         161450: 2,
         137450: 2,
         152450: 3,
         216950: 1,
         148900: 4,
         199000: 4,
         276950: 2,
         153700: 2,
         154950: 1,
         199250: 1,
         104950: 1,
         117200: 2,
         168450: 1,
         374426: 1,
         194900: 2,
         192860: 1,
         269999: 1,
         489000: 1,
         347500: 1,
         96900: 3,
         187400: 1,
         176200: 2,
         243900: 1,
         498460: 1,
         89000: 2,
         372450: 3,
         329900: 4,
         394450: 1,
         198500: 3,
         294700: 1,
         269450: 2,
         289626: 1,
         220450: 1,
         294990: 1,
         337500: 1,
         149200: 1,
         412860: 1,
         443500: 1,
         354726: 1,
         310000: 1,
         135500: 1,
         272400: 1,
         347900: 1,
         326950: 1,
         419750: 1,
         261990: 1,
         150250: 1,
         197900: 1,
         371990: 1,
         162740: 1,
         301440: 1,
         394500: 1,
         308750: 1,
         392000: 1,
         369950: 1,
         434900: 2,
         160250: 1,
         211750: 1,
         295700: 1,
         179498: 1,
         182450: 1,
         459900: 1,
         419950: 1,
         485000: 1,
         329000: 1,
         249940: 1,
         178700: 1,
         284500: 3,
         283900: 1,
         229423: 1,
         143900: 1,
         227700: 1,
         204900: 2,
         102000: 2,
         342500: 1,
         279700: 2,
         245000: 3,
         162700: 1,
         109000: 1,
         98450: 1,
         278772: 1,
         414000: 1,
         273700: 1,
         206200: 1,
         161200: 1,
         129750: 2,
         87400: 1,
         304038: 1,
         135000: 2,
         328145: 1,
         126500: 1,
         290850: 1,
         389900: 1,
         121500: 1,
         214500: 1,
         201700: 1,
         307450: 2,
         346897: 1,
         159950: 2,
         198900: 3,
         399450: 2,
         415700: 1,
         269500: 2,
         349450: 1,
         184700: 1,
         349000: 2,
         398500: 3,
         379900: 2,
         74950: 1,
         252300: 1,
         266500: 2,
         195900: 1,
         218950: 2,
         216500: 1,
         207900: 1,
         177200: 1,
         299950: 3,
         253700: 1,
         247495: 1,
         224500: 1,
         256900: 1,
         398875: 1,
         549000: 2,
         274000: 1,
         121900: 1,
         277500: 2,
         176900: 1,
         279450: 3,
         169000: 2,
         392500: 1,
         229999: 1,
         175450: 1,
         184400: 1,
         227400: 1,
         231500: 1,
         424900: 1,
         319000: 2,
         409900: 1,
         249450: 2,
         325495: 1,
         298850: 1,
         98000: 2,
         228500: 1,
         179750: 1,
         128000: 2,
         214950: 4,
         93200: 1,
         132200: 2,
         194000: 5,
         267945: 1,
         182995: 2,
         494440: 1,
         123950: 1,
         196945: 1,
         234450: 1,
         186900: 1,
         244608: 1,
         246500: 1,
         162950: 1,
         299450: 1,
         166250: 1,
         262400: 1,
         329700: 1,
         346450: 1,
         192500: 3,
         152990: 2,
         415450: 1,
         332500: 1,
         259700: 1,
         428903: 1,
         136200: 1,
         244900: 1,
         113200: 1,
         339450: 1,
         189500: 2,
         95000: 2,
         299990: 1,
         141000: 2,
         294450: 1,
         201605: 1,
         392450: 1,
         129450: 1,
         284990: 1,
         145450: 1,
         158450: 1,
         176695: 1,
         98900: 1,
         179250: 1,
         144800: 1,
         355900: 1,
         218250: 1,
         279750: 1,
         167450: 1,
         220000: 4,
         279500: 3,
         266000: 1,
         373490: 1,
         102950: 1,
         122450: 2,
         398950: 1,
         327250: 1,
         143950: 2,
         268076: 1,
         107750: 1,
         161950: 1,
         221950: 1,
         279945: 1,
         419900: 1,
         230925: 1,
         288950: 1,
         299700: 1,
         277200: 1,
         384150: 1,
         155990: 1,
         169639: 1,
         381850: 1,
         97000: 4,
         244450: 1,
         204925: 1,
         320900: 1,
         265900: 1,
         119450: 3,
         527450: 1,
         346500: 3,
         272500: 1,
         141200: 1,
         274950: 1,
         247923: 1,
         335000: 2,
         177700: 1,
         256945: 1,
         196900: 1,
         114900: 1,
         341500: 1,
         220500: 1,
         186400: 1,
         281750: 1,
         74900: 1,
         158500: 1,
         163900: 1,
         286500: 1,
         243000: 1,
         267338: 1,
         364700: 1,
         329275: 1,
         191500: 1,
         243824: 1,
         281900: 1,
         308945: 1,
         284000: 2,
         123500: 1,
         162450: 2,
         298000: 2,
         239950: 1,
         492500: 1,
         128950: 1,
         434950: 1,
         284900: 2,
         298200: 1,
         213500: 1,
         93450: 1,
         191625: 1,
         312450: 1,
         281445: 1,
         227655: 1,
         302745: 1,
         194700: 2,
         288000: 3,
         213800: 1,
         411495: 1,
         232000: 3,
         191900: 1,
         325285: 1,
         444250: 1,
         439900: 1,
         419500: 1,
         544400: 1,
         195500: 1,
         389450: 1,
         376052: 1,
         272498: 1,
         244950: 2,
         328200: 1,
         223700: 1,
         109500: 1,
         379000: 2,
         214900: 4,
         117000: 1,
         84450: 1,
         125450: 2,
         92500: 1,
         238800: 1,
         186700: 1,
         192450: 1,
         99250: 1,
         268250: 1,
         293495: 1,
         324900: 1,
         214000: 2,
         376900: 1,
         155975: 1,
         379500: 1,
         318750: 1,
         257450: 1,
         270500: 1,
         259000: 1,
         475000: 1,
         399400: 1,
         177150: 1,
         319700: 1,
         292115: 1,
         277000: 2,
         216000: 2,
         324750: 1,
         437500: 1,
         239450: 2,
         141490: 1,
         263326: 1,
         139450: 2,
         281714: 1,
         419000: 1,
         241400: 1,
         142165: 1,
         144389: 1,
         188900: 1,
         146450: 1,
         322450: 2,
         246450: 1,
         253950: 1,
         394900: 1,
         348875: 1,
         179700: 1,
         160950: 1,
         172000: 2,
         349500: 1,
         310500: 1,
         303950: 1,
         339500: 1,
         184445: 1,
         178450: 1,
         372000: 2,
         235500: 1,
         415000: 1,
         402139: 1,
         293900: 1,
         224000: 1,
         168900: 1,
         424500: 2,
         394475: 1,
         340000: 2,
         207400: 1,
         232500: 1,
         272000: 1,
         299980: 1,
         184500: 1,
         539900: 1,
         219999: 1,
         232450: 1,
         249700: 2,
         397450: 1,
         237990: 1,
         332000: 1,
         315500: 1,
         145750: 1,
         180900: 1,
         138950: 1,
         200400: 1,
         547000: 1,
         189945: 1,
         302450: 1,
         404153: 1,
         174850: 1,
         265700: 1,
         148450: 1,
         431700: 1,
         122995: 1,
         267450: 1,
         330552: 1,
         104500: 1,
         445950: 1,
         328266: 1,
         319990: 1,
         329250: 1,
         478500: 1,
         450000: 1,
         184000: 2,
         285500: 1,
         254400: 1,
         412822: 1,
         329925: 1,
         261450: 1,
         126000: 1,
         128900: 1,
         127450: 2,
         196250: 1,
         370000: 1,
         288750: 1,
         131000: 1,
         324500: 1,
         407874: 1,
         164450: 1,
         187000: 2,
         188500: 1,
         212400: 1,
         179450: 1,
         129298: 1,
         399500: 2,
         415900: 1,
         184990: 1,
         190200: 1,
         142400: 1,
         374495: 1,
         195250: 1,
         248000: 1,
         179990: 1,
         88900: 1,
         291000: 1,
         440813: 1,
         324495: 1,
         392950: 1,
         188700: 1,
         324950: 1,
         324400: 1,
         197250: 1,
         156500: 1,
         134500: 2,
         422000: 1,
         194750: 1,
         373500: 1,
         217500: 1,
         397500: 1,
         299320: 1,
         304990: 1,
         246150: 1,
         191950: 1,
         170995: 1,
         204950: 1,
         162000: 2,
         202000: 1,
         127000: 1,
         199450: 1,
         388500: 1,
         318000: 1,
         257700: 1,
         215450: 1,
         535000: 1,
         206080: 1,
         341750: 1,
         279950: 1,
         422450: 1,
         289450: 1,
         289700: 1,
         198000: 2,
         282450: 1,
         354900: 1,
         211000: 1,
         229750: 1,
         218450: 1,
         241000: 1,
         196400: 1,
         138900: 1,
         272990: 1,
         429450: 1,
         245745: 1,
         198490: 1,
         305000: 1,
         207450: 1,
         326750: 1,
         240000: 1,
         239250: 1,
         105950: 1,
         198950: 1,
         186500: 1,
         164500: 1,
         440950: 1,
         160000: 1,
         263950: 1,
         247378: 1,
         157400: 1,
         140400: 1,
         148250: 1,
         286142: 2,
         390590: 1,
         212500: 1,
         429900: 1,
         132900: 1,
         195200: 1,
         322000: 1,
         243700: 1,
         259400: 1,
         151450: 1,
         532475: 1,
         269700: 1,
         138450: 1,
         187450: 2,
         173900: 1,
         192350: 1,
         355000: 1,
         163495: 1,
         178950: 1,
         193000: 1,
         298900: 1,
         226950: 1,
         225500: 1,
         214750: 1,
         338500: 1,
         394629: 1,
         94900: 1,
         278000: 1,
         233490: 1,
         387750: 1,
         430250: 1,
         349995: 1,
         165490: 1,
         181950: 1,
         95700: 1,
         390393: 1,
         105900: 1,
         357448: 1,
         228000: 1,
         175500: 1,
         354950: 1,
         92000: 1,
         308174: 1,
         278552: 1,
         191700: 1,
         147490: 1,
         ...})

In [47]:
score = rf_model.score(X_train, y_train)
print(score)

0.9954490523320548

In [48]:
score = rf_model.score(X_test, y_test)
print(f"Testing data score:{rf_model.score( X_test,y_test)}")

Testing data score:0.9692113028682223

In [49]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5442003019136002, 'median_square_feet'),
 (0.09894084542959031, 'violent_crime_rate'),
 (0.06571638577469557, 'number_of_schools'),
 (0.04617886441577581, 'active_listing_count'),
 (0.044294241598976714, 'total_listing_count'),
 (0.028872891323431227, 'number_of_parks'),
 (0.014345163567894581, 'county_Dare'),
 (0.011183944091191686, 'county_Chatham'),
 (0.01112052538271959, 'price_reduced_count'),
 (0.010766806082427952, 'median_days_on_market'),
 (0.009652062079475318, 'county_Buncombe'),
 (0.00910441027915373, '30_year_fixed_rate'),
 (0.008548446992703594, 'price_increased_count'),
 (0.007118682389100697, 'new_listing_count'),
 (0.00547795058107623, 'county_Carteret'),
 (0.005450022679242218, 'county_Orange'),
 (0.005085098236647395, 'county_Davidson'),
 (0.004370427374740831, 'county_Polk'),
 (0.004158327080492539, 'county_Haywood'),
 (0.004047824915459341, 'county_Forsyth'),
 (0.0039685468248120675, 'county_Stanly'),
 (0.0038143145964262765, 'county_Clay'),
 (0.0034553966966736696, 'year'),
 (0.003445834255427152, 'county_Hertford'),
 (0.003201153398219579, 'county_Chowan'),
 (0.003068034062994956, 'county_Henderson'),
 (0.0029780586500062754, 'county_Scotland'),
 (0.0024456878372683855, 'county_Duplin'),
 (0.002013791491234064, 'county_Durham'),
 (0.0018456960736278213, 'county_Swain'),
 (0.001823741723799018, 'county_Pamlico'),
 (0.0017729561006555484, 'county_Surry'),
 (0.0017566262352836368, 'county_Columbus'),
 (0.0017550576258796014, 'county_Jackson'),
 (0.00143135935622702, 'county_Northampton'),
 (0.001188865726566057, 'county_Person'),
 (0.001122507032492411, 'county_Yadkin'),
 (0.001044810236516073, 'county_Alleghany'),
 (0.0009596128376147675, 'county_Transylvania'),
 (0.0009270771207953336, 'county_Davie'),
 (0.0008572702171644657, 'county_Rutherford'),
 (0.0007846092775780611, 'county_Beaufort'),
 (0.0007554263030390614, 'county_Macon'),
 (0.000731779871782884, 'county_Onslow'),
 (0.0007068912391704923, 'county_Bertie'),
 (0.0007053132487402225, 'county_Currituck'),
 (0.0006193494984052852, 'county_Halifax'),
 (0.00054257155664246, 'county_Watauga'),
 (0.0005370398328406641, 'county_Stokes'),
 (0.0005320301423237741, 'county_Cherokee'),
 (0.0005189449200294748, 'county_Madison'),
 (0.000485930192239397, 'county_Pasquotank'),
 (0.0004818807195552234, 'county_Moore'),
 (0.0004809300300956944, 'county_Cabarrus'),
 (0.00047918862399888535, 'county_Lincoln'),
 (0.00047635322016961415, 'county_Catawba'),
 (0.0004620981208083328, 'county_Montgomery'),
 (0.00040648646259130886, 'county_Brunswick'),
 (0.00037174603628818454, 'county_Wilson'),
 (0.00036213096928223505, 'county_Randolph'),
 (0.0003424665408572104, 'county_Avery'),
 (0.00032771407641761155, 'county_Franklin'),
 (0.00031576860853985074, 'county_Hoke'),
 (0.0002942940130913579, 'county_Graham'),
 (0.0002886002528927659, 'county_Rockingham'),
 (0.00028557472374517254, 'county_Pender'),
 (0.00028523733632060297, 'county_Guilford'),
 (0.00027373293671135556, 'county_Caswell'),
 (0.00024953710996210526, 'county_Lee'),
 (0.00023472174438009792, 'county_Wilkes'),
 (0.00023471821490321366, 'county_Warren'),
 (0.00022908572988311471, 'county_Vance'),
 (0.00022868168159140265, 'county_Edgecombe'),
 (0.00021571350285756527, 'county_Johnston'),
 (0.00019091865032372284, 'county_Anson'),
 (0.00018457158918110816, 'county_Mecklenburg'),
 (0.00016758139451115235, 'county_Alexander'),
 (0.00016714071743968286, 'county_Alamance'),
 (0.00015265641301839933, 'county_Perquimans'),
 (0.0001254215274249966, 'county_Cleveland'),
 (0.00010523805985916127, 'county_Harnett'),
 (0.00010366555587000034, 'county_Iredell'),
 (9.683848090690932e-05, 'county_Robeson'),
 (9.415957092113786e-05, 'county_Martin'),
 (9.00176619753492e-05, 'county_Craven'),
 (8.317892441291896e-05, 'county_Cumberland'),
 (7.988860865032386e-05, 'county_Gaston'),
 (7.270355519513871e-05, 'county_Burke'),
 (7.207592260510592e-05, 'county_Richmond'),
 (7.022325853732207e-05, 'county_Granville'),
 (6.63196937803962e-05, 'county_Yancey'),
 (5.800118904946064e-05, 'county_Ashe'),
 (5.1618976632461906e-05, 'county_Camden'),
 (4.58537985238659e-05, 'county_Rowan'),
 (3.862275785692456e-05, 'county_Sampson'),
 (2.860923307695425e-05, 'county_Pitt'),
 (2.1071939060641668e-05, 'county_Wayne'),
 (1.977923970279559e-05, 'county_Greene'),
 (1.9374595836079892e-05, 'county_Caldwell'),
 (1.7894166214417828e-05, 'county_Lenoir'),
 (1.1138293400778397e-05, 'county_Tyrrell'),
 (5.544431896715203e-06, 'county_Nash'),
 (2.9705763682679168e-06, 'county_Union'),
 (7.541919535763946e-07, 'county_Wake')]

# Hypertune features

In [50]:
rf_model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 1,
 'verbose': 0,
 'warm_start': False}

In [51]:
from sklearn.model_selection import RandomizedSearchCV

# Create the random grid search to use to find the best hyperparameters
random_grid = {'n_estimators': [100,200,300,400],
               'max_features': ['auto','sqrt', 'log2', None],
                'criterion':['squared_error','absolute_error','poisson'],}

rf = RandomForestRegressor()
# using 4 fold of cross validation, radom search parameters with 100 different 
# combinations. Use all avaiable cores.

rf_search = RandomizedSearchCV(rf, random_grid,
               n_iter = 100, cv =3, verbose = 2, random_state = 1)

# fit to model

rf_search.fit(X_train, y_train)

Fitting 3 folds for each of 48 candidates, totalling 144 fits
[CV] END criterion=squared_error, max_features=auto, n_estimators=100; total time=   2.6s
[CV] END criterion=squared_error, max_features=auto, n_estimators=100; total time=   1.9s
[CV] END criterion=squared_error, max_features=auto, n_estimators=100; total time=   2.9s
[CV] END criterion=squared_error, max_features=auto, n_estimators=200; total time=   9.7s
[CV] END criterion=squared_error, max_features=auto, n_estimators=200; total time=   6.7s
[CV] END criterion=squared_error, max_features=auto, n_estimators=200; total time=   3.6s
[CV] END criterion=squared_error, max_features=auto, n_estimators=300; total time=   4.9s
[CV] END criterion=squared_error, max_features=auto, n_estimators=300; total time=   5.0s
[CV] END criterion=squared_error, max_features=auto, n_estimators=300; total time=   4.8s
[CV] END criterion=squared_error, max_features=auto, n_estimators=400; total time=   6.0s
[CV] END criterion=squared_error, max_features=auto, n_estimators=400; total time=   6.1s
[CV] END criterion=squared_error, max_features=auto, n_estimators=400; total time=   5.9s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=200; total time=   0.9s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=200; total time=   0.9s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=200; total time=   0.9s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=300; total time=   1.4s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=300; total time=   1.5s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=300; total time=   1.5s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=400; total time=   1.9s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=400; total time=   2.0s
[CV] END criterion=squared_error, max_features=sqrt, n_estimators=400; total time=   2.0s
[CV] END criterion=squared_error, max_features=log2, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, max_features=log2, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, max_features=log2, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, max_features=log2, n_estimators=200; total time=   0.8s
[CV] END criterion=squared_error, max_features=log2, n_estimators=200; total time=   0.8s
[CV] END criterion=squared_error, max_features=log2, n_estimators=200; total time=   0.8s
[CV] END criterion=squared_error, max_features=log2, n_estimators=300; total time=   1.3s
[CV] END criterion=squared_error, max_features=log2, n_estimators=300; total time=   1.3s
[CV] END criterion=squared_error, max_features=log2, n_estimators=300; total time=   1.3s
[CV] END criterion=squared_error, max_features=log2, n_estimators=400; total time=   1.8s
[CV] END criterion=squared_error, max_features=log2, n_estimators=400; total time=   1.7s
[CV] END criterion=squared_error, max_features=log2, n_estimators=400; total time=   1.8s
[CV] END criterion=squared_error, max_features=None, n_estimators=100; total time=   1.4s
[CV] END criterion=squared_error, max_features=None, n_estimators=100; total time=   1.4s
[CV] END criterion=squared_error, max_features=None, n_estimators=100; total time=   1.3s
[CV] END criterion=squared_error, max_features=None, n_estimators=200; total time=   3.3s
[CV] END criterion=squared_error, max_features=None, n_estimators=200; total time=   2.9s
[CV] END criterion=squared_error, max_features=None, n_estimators=200; total time=   2.8s
[CV] END criterion=squared_error, max_features=None, n_estimators=300; total time=   4.3s
[CV] END criterion=squared_error, max_features=None, n_estimators=300; total time=   4.4s
[CV] END criterion=squared_error, max_features=None, n_estimators=300; total time=   4.2s
[CV] END criterion=squared_error, max_features=None, n_estimators=400; total time=   5.7s
[CV] END criterion=squared_error, max_features=None, n_estimators=400; total time=   5.7s
[CV] END criterion=squared_error, max_features=None, n_estimators=400; total time=   5.7s
[CV] END criterion=absolute_error, max_features=auto, n_estimators=100; total time=  21.9s
[CV] END criterion=absolute_error, max_features=auto, n_estimators=100; total time=  22.0s
[CV] END criterion=absolute_error, max_features=auto, n_estimators=100; total time=  23.1s
[CV] END criterion=absolute_error, max_features=auto, n_estimators=200; total time=  48.2s
[CV] END criterion=absolute_error, max_features=auto, n_estimators=200; total time=  47.9s
[CV] END criterion=absolute_error, max_features=auto, n_estimators=200; total time=  46.2s
[CV] END criterion=absolute_error, max_features=auto, n_estimators=300; total time= 1.1min
[CV] END criterion=absolute_error, max_features=auto, n_estimators=300; total time= 1.3min
[CV] END criterion=absolute_error, max_features=auto, n_estimators=300; total time= 1.3min
[CV] END criterion=absolute_error, max_features=auto, n_estimators=400; total time= 1.9min
[CV] END criterion=absolute_error, max_features=auto, n_estimators=400; total time= 1.9min
[CV] END criterion=absolute_error, max_features=auto, n_estimators=400; total time= 2.0min
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=100; total time=   3.7s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=100; total time=   3.7s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=100; total time=   3.5s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=200; total time=   7.3s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=200; total time=  13.3s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=200; total time=   7.3s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=300; total time=  10.5s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=300; total time=  10.9s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=300; total time=  11.0s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=400; total time=  14.0s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=400; total time=  15.3s
[CV] END criterion=absolute_error, max_features=sqrt, n_estimators=400; total time=  15.3s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=100; total time=   3.6s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=100; total time=   3.5s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=100; total time=   3.1s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=200; total time=   6.1s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=200; total time=   6.4s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=200; total time=   6.1s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=300; total time=   8.9s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=300; total time=  10.0s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=300; total time=   9.3s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=400; total time=  12.2s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=400; total time=  13.0s
[CV] END criterion=absolute_error, max_features=log2, n_estimators=400; total time=  12.7s
[CV] END criterion=absolute_error, max_features=None, n_estimators=100; total time=  21.3s
[CV] END criterion=absolute_error, max_features=None, n_estimators=100; total time=  22.2s
[CV] END criterion=absolute_error, max_features=None, n_estimators=100; total time=  23.7s
[CV] END criterion=absolute_error, max_features=None, n_estimators=200; total time=  42.0s
[CV] END criterion=absolute_error, max_features=None, n_estimators=200; total time=  44.2s
[CV] END criterion=absolute_error, max_features=None, n_estimators=200; total time=  41.4s

[CV] END criterion=absolute_error, max_features=None, n_estimators=300; total time= 1.0min
[CV] END criterion=absolute_error, max_features=None, n_estimators=300; total time= 1.1min
[CV] END criterion=absolute_error, max_features=None, n_estimators=300; total time= 1.1min
[CV] END criterion=absolute_error, max_features=None, n_estimators=400; total time= 1.5min
[CV] END criterion=absolute_error, max_features=None, n_estimators=400; total time= 1.6min
[CV] END criterion=absolute_error, max_features=None, n_estimators=400; total time= 1.4min
[CV] END criterion=poisson, max_features=auto, n_estimators=100; total time=   1.8s
[CV] END criterion=poisson, max_features=auto, n_estimators=100; total time=   1.8s
[CV] END criterion=poisson, max_features=auto, n_estimators=100; total time=   1.8s
[CV] END criterion=poisson, max_features=auto, n_estimators=200; total time=   3.5s
[CV] END criterion=poisson, max_features=auto, n_estimators=200; total time=   3.6s
[CV] END criterion=poisson, max_features=auto, n_estimators=200; total time=   3.5s
[CV] END criterion=poisson, max_features=auto, n_estimators=300; total time=   5.4s
[CV] END criterion=poisson, max_features=auto, n_estimators=300; total time=   5.4s
[CV] END criterion=poisson, max_features=auto, n_estimators=300; total time=   5.4s
[CV] END criterion=poisson, max_features=auto, n_estimators=400; total time=   7.3s
[CV] END criterion=poisson, max_features=auto, n_estimators=400; total time=   9.8s
[CV] END criterion=poisson, max_features=auto, n_estimators=400; total time=   7.3s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=100; total time=   0.5s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=100; total time=   0.5s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=100; total time=   0.6s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=200; total time=   1.2s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=200; total time=   1.1s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=200; total time=   1.1s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=300; total time=   1.7s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=300; total time=   1.7s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=300; total time=   1.7s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=400; total time=   2.3s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=400; total time=   2.3s
[CV] END criterion=poisson, max_features=sqrt, n_estimators=400; total time=   2.5s
[CV] END criterion=poisson, max_features=log2, n_estimators=100; total time=   0.5s
[CV] END criterion=poisson, max_features=log2, n_estimators=100; total time=   0.5s
[CV] END criterion=poisson, max_features=log2, n_estimators=100; total time=   0.4s
[CV] END criterion=poisson, max_features=log2, n_estimators=200; total time=   1.0s
[CV] END criterion=poisson, max_features=log2, n_estimators=200; total time=   1.0s
[CV] END criterion=poisson, max_features=log2, n_estimators=200; total time=   1.0s
[CV] END criterion=poisson, max_features=log2, n_estimators=300; total time=   1.5s
[CV] END criterion=poisson, max_features=log2, n_estimators=300; total time=   1.5s
[CV] END criterion=poisson, max_features=log2, n_estimators=300; total time=   1.5s
[CV] END criterion=poisson, max_features=log2, n_estimators=400; total time=   2.0s
[CV] END criterion=poisson, max_features=log2, n_estimators=400; total time=   2.1s
[CV] END criterion=poisson, max_features=log2, n_estimators=400; total time=   2.0s
[CV] END criterion=poisson, max_features=None, n_estimators=100; total time=   1.8s
[CV] END criterion=poisson, max_features=None, n_estimators=100; total time=   1.8s
[CV] END criterion=poisson, max_features=None, n_estimators=100; total time=   1.7s
[CV] END criterion=poisson, max_features=None, n_estimators=200; total time=   3.8s
[CV] END criterion=poisson, max_features=None, n_estimators=200; total time=   3.6s
[CV] END criterion=poisson, max_features=None, n_estimators=200; total time=   3.6s
[CV] END criterion=poisson, max_features=None, n_estimators=300; total time=   5.5s
[CV] END criterion=poisson, max_features=None, n_estimators=300; total time=   5.8s
[CV] END criterion=poisson, max_features=None, n_estimators=300; total time=   6.3s
[CV] END criterion=poisson, max_features=None, n_estimators=400; total time=   7.7s
[CV] END criterion=poisson, max_features=None, n_estimators=400; total time=   8.0s
[CV] END criterion=poisson, max_features=None, n_estimators=400; total time=   7.9s

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=100,
                   param_distributions={'criterion': ['squared_error',
                                                      'absolute_error',
                                                      'poisson'],
                                        'max_features': ['auto', 'sqrt', 'log2',
                                                         None],
                                        'n_estimators': [100, 200, 300, 400]},
                   random_state=1, verbose=2)

In [53]:
print(rf_search.best_params_)
print(rf_search.best_score_)

{'n_estimators': 200, 'max_features': 'sqrt', 'criterion': 'absolute_error'}
0.9587374257619629

## Run RandomForestRegressor with best parameters

In [60]:
from sklearn.ensemble import RandomForestRegressor
rf_model1 = RandomForestRegressor(n_estimators=200, max_features='sqrt', criterion= 'absolute_error',random_state=1) 
rf_model1 = rf_model.fit(X_train, y_train)
y_pred1 = rf_model.predict(X_test_scale)
Counter(y_train['median_listing_price'])

Counter({180000: 5,
         118950: 1,
         225000: 6,
         190623: 1,
         189700: 3,
         174950: 1,
         148000: 3,
         205000: 3,
         249950: 3,
         198250: 2,
         237500: 1,
         119990: 2,
         117500: 1,
         244500: 2,
         139900: 16,
         300000: 6,
         169900: 19,
         140000: 1,
         158000: 2,
         191450: 1,
         290000: 3,
         296450: 1,
         307566: 1,
         394000: 1,
         229900: 3,
         184900: 8,
         350000: 7,
         196000: 1,
         119900: 9,
         154900: 6,
         447500: 1,
         201724: 1,
         174900: 9,
         287900: 1,
         89995: 1,
         309587: 1,
         209900: 4,
         325000: 9,
         374900: 2,
         274900: 8,
         398900: 1,
         115000: 3,
         249900: 18,
         263000: 1,
         299900: 16,
         278700: 2,
         149500: 3,
         299000: 20,
         237000: 7,
         275000: 20,
         123000: 3,
         144900: 7,
         189900: 22,
         326990: 1,
         139250: 2,
         119000: 3,
         182990: 1,
         194250: 1,
         99850: 2,
         309900: 4,
         140450: 1,
         154450: 2,
         348000: 1,
         399000: 17,
         229500: 1,
         303480: 1,
         199900: 26,
         132000: 1,
         242500: 1,
         328000: 1,
         162900: 1,
         130000: 4,
         312400: 1,
         134950: 1,
         387000: 1,
         292450: 1,
         289500: 5,
         295000: 5,
         139500: 6,
         125000: 5,
         448750: 1,
         129950: 1,
         164900: 10,
         425000: 7,
         398000: 3,
         449000: 1,
         200000: 6,
         171450: 1,
         268900: 4,
         259900: 6,
         212250: 1,
         294900: 2,
         404450: 1,
         112900: 1,
         199700: 3,
         172900: 5,
         172400: 2,
         277450: 3,
         179950: 3,
         195750: 2,
         297000: 3,
         219000: 3,
         281000: 2,
         99900: 9,
         375000: 5,
         389000: 6,
         109900: 6,
         163400: 1,
         319900: 2,
         184950: 4,
         279900: 9,
         203450: 1,
         129900: 19,
         159000: 10,
         285000: 8,
         298250: 1,
         238157: 1,
         302500: 2,
         219450: 3,
         98500: 2,
         369900: 3,
         105000: 1,
         193950: 1,
         370850: 1,
         283675: 1,
         217000: 3,
         142450: 2,
         309000: 2,
         169490: 1,
         229000: 10,
         150000: 8,
         281147: 1,
         431950: 1,
         167200: 1,
         391000: 2,
         279000: 7,
         190000: 6,
         393000: 1,
         152900: 2,
         314500: 1,
         162245: 1,
         88400: 1,
         491500: 1,
         326200: 1,
         98400: 1,
         250000: 8,
         249000: 11,
         189950: 3,
         149450: 1,
         334950: 1,
         177750: 1,
         175000: 6,
         227000: 4,
         145590: 1,
         189250: 1,
         319950: 1,
         79900: 4,
         199500: 7,
         399998: 1,
         170000: 4,
         186858: 1,
         260000: 2,
         293450: 1,
         174700: 2,
         397000: 3,
         210000: 4,
         268500: 2,
         417000: 3,
         88250: 1,
         142500: 3,
         164000: 2,
         264950: 2,
         239000: 9,
         176500: 1,
         405945: 1,
         179900: 20,
         179549: 1,
         159900: 9,
         309500: 1,
         178900: 4,
         271500: 2,
         417250: 1,
         209700: 1,
         197450: 1,
         214450: 1,
         236500: 1,
         342450: 1,
         338083: 1,
         304000: 1,
         239900: 15,
         435000: 1,
         139000: 10,
         129500: 3,
         189450: 2,
         178745: 1,
         269046: 1,
         297900: 2,
         123700: 1,
         289900: 9,
         254500: 1,
         430000: 2,
         127445: 1,
         405923: 1,
         152495: 1,
         165000: 6,
         348500: 2,
         152400: 1,
         129000: 5,
         178500: 1,
         239500: 2,
         317450: 1,
         175695: 1,
         98750: 2,
         187950: 1,
         129700: 3,
         187700: 2,
         187500: 1,
         231800: 1,
         201500: 1,
         183500: 2,
         274768: 1,
         392405: 1,
         254900: 2,
         149750: 1,
         289000: 11,
         362000: 1,
         124900: 5,
         149950: 1,
         429000: 9,
         454950: 2,
         394750: 1,
         124950: 3,
         195450: 2,
         280000: 4,
         382450: 1,
         127700: 1,
         189750: 1,
         111750: 1,
         347000: 1,
         144750: 1,
         396000: 1,
         397300: 1,
         282500: 1,
         377000: 3,
         185000: 7,
         177250: 1,
         179695: 1,
         240877: 1,
         167000: 4,
         202400: 1,
         212600: 1,
         122950: 1,
         340572: 1,
         186000: 1,
         149900: 15,
         442340: 1,
         380000: 1,
         116900: 1,
         188750: 1,
         348700: 1,
         168695: 2,
         222445: 1,
         276450: 1,
         142000: 1,
         349900: 5,
         197000: 1,
         226250: 1,
         289200: 1,
         182500: 2,
         265000: 5,
         305900: 1,
         215000: 6,
         199950: 5,
         406863: 1,
         419450: 1,
         399900: 9,
         172500: 1,
         89900: 2,
         143700: 2,
         299501: 1,
         292000: 2,
         128500: 2,
         264450: 1,
         211700: 1,
         396500: 1,
         339900: 1,
         290715: 1,
         253250: 1,
         186250: 1,
         118750: 1,
         159250: 1,
         152950: 2,
         98950: 1,
         334500: 2,
         183490: 1,
         269900: 8,
         248990: 1,
         234900: 3,
         304900: 2,
         219900: 7,
         264900: 3,
         225900: 1,
         187050: 1,
         413750: 1,
         164950: 3,
         287400: 1,
         340900: 1,
         427000: 1,
         128745: 1,
         191448: 1,
         309009: 1,
         147500: 2,
         294000: 4,
         294950: 1,
         206585: 1,
         400000: 7,
         518121: 1,
         357516: 1,
         235000: 2,
         173700: 3,
         179500: 1,
         152768: 1,
         236445: 1,
         381190: 1,
         401045: 1,
         133750: 1,
         500000: 1,
         163500: 1,
         222300: 1,
         157900: 1,
         273750: 2,
         383370: 1,
         259250: 1,
         124000: 2,
         174800: 2,
         274450: 2,
         156950: 1,
         157000: 2,
         308000: 1,
         198400: 1,
         300500: 1,
         134900: 7,
         292500: 2,
         185950: 2,
         169948: 1,
         175900: 1,
         299999: 1,
         133000: 1,
         171000: 2,
         359000: 4,
         89950: 1,
         157500: 2,
         197500: 3,
         334200: 1,
         136900: 1,
         269000: 6,
         182600: 1,
         305500: 1,
         322900: 1,
         414900: 1,
         284450: 1,
         249500: 1,
         217450: 5,
         89450: 2,
         299500: 4,
         238000: 2,
         174400: 1,
         395000: 5,
         159450: 5,
         390400: 1,
         349950: 2,
         195000: 5,
         224900: 6,
         433352: 1,
         154750: 1,
         184800: 1,
         385000: 4,
         297250: 1,
         249200: 1,
         163700: 1,
         439000: 4,
         244000: 2,
         101000: 1,
         87450: 1,
         499900: 1,
         234000: 2,
         194950: 1,
         396827: 1,
         464950: 1,
         122600: 1,
         360450: 1,
         218400: 1,
         325056: 1,
         280900: 3,
         262450: 1,
         268000: 1,
         256248: 1,
         272310: 1,
         147900: 3,
         365000: 2,
         155000: 1,
         169450: 7,
         126250: 1,
         270000: 2,
         327500: 2,
         281250: 1,
         179000: 3,
         131950: 1,
         200750: 1,
         289950: 1,
         168000: 1,
         345900: 2,
         189000: 12,
         182000: 1,
         192000: 2,
         133950: 1,
         359900: 1,
         254950: 1,
         153950: 1,
         137000: 1,
         202450: 1,
         262900: 1,
         222200: 1,
         337000: 1,
         160900: 2,
         260950: 1,
         295900: 1,
         357500: 1,
         360548: 1,
         133900: 1,
         148750: 1,
         231950: 2,
         188000: 2,
         410000: 2,
         165950: 1,
         167400: 1,
         285172: 1,
         90000: 1,
         348900: 1,
         192400: 2,
         389479: 1,
         170900: 1,
         188400: 1,
         224950: 2,
         169200: 1,
         84900: 1,
         229950: 2,
         398800: 1,
         162400: 1,
         282000: 2,
         277400: 1,
         213975: 1,
         180950: 1,
         237200: 1,
         173950: 1,
         339000: 4,
         193745: 1,
         137700: 1,
         86000: 1,
         266950: 1,
         122000: 1,
         248900: 1,
         177000: 1,
         438250: 1,
         149000: 4,
         99000: 5,
         147000: 3,
         369450: 1,
         399950: 2,
         198450: 2,
         281200: 1,
         205500: 1,
         186990: 1,
         161450: 2,
         137450: 2,
         152450: 3,
         216950: 1,
         148900: 4,
         199000: 4,
         276950: 2,
         153700: 2,
         154950: 1,
         199250: 1,
         104950: 1,
         117200: 2,
         168450: 1,
         374426: 1,
         194900: 2,
         192860: 1,
         269999: 1,
         489000: 1,
         347500: 1,
         96900: 3,
         187400: 1,
         176200: 2,
         243900: 1,
         498460: 1,
         89000: 2,
         372450: 3,
         329900: 4,
         394450: 1,
         198500: 3,
         294700: 1,
         269450: 2,
         289626: 1,
         220450: 1,
         294990: 1,
         337500: 1,
         149200: 1,
         412860: 1,
         443500: 1,
         354726: 1,
         310000: 1,
         135500: 1,
         272400: 1,
         347900: 1,
         326950: 1,
         419750: 1,
         261990: 1,
         150250: 1,
         197900: 1,
         371990: 1,
         162740: 1,
         301440: 1,
         394500: 1,
         308750: 1,
         392000: 1,
         369950: 1,
         434900: 2,
         160250: 1,
         211750: 1,
         295700: 1,
         179498: 1,
         182450: 1,
         459900: 1,
         419950: 1,
         485000: 1,
         329000: 1,
         249940: 1,
         178700: 1,
         284500: 3,
         283900: 1,
         229423: 1,
         143900: 1,
         227700: 1,
         204900: 2,
         102000: 2,
         342500: 1,
         279700: 2,
         245000: 3,
         162700: 1,
         109000: 1,
         98450: 1,
         278772: 1,
         414000: 1,
         273700: 1,
         206200: 1,
         161200: 1,
         129750: 2,
         87400: 1,
         304038: 1,
         135000: 2,
         328145: 1,
         126500: 1,
         290850: 1,
         389900: 1,
         121500: 1,
         214500: 1,
         201700: 1,
         307450: 2,
         346897: 1,
         159950: 2,
         198900: 3,
         399450: 2,
         415700: 1,
         269500: 2,
         349450: 1,
         184700: 1,
         349000: 2,
         398500: 3,
         379900: 2,
         74950: 1,
         252300: 1,
         266500: 2,
         195900: 1,
         218950: 2,
         216500: 1,
         207900: 1,
         177200: 1,
         299950: 3,
         253700: 1,
         247495: 1,
         224500: 1,
         256900: 1,
         398875: 1,
         549000: 2,
         274000: 1,
         121900: 1,
         277500: 2,
         176900: 1,
         279450: 3,
         169000: 2,
         392500: 1,
         229999: 1,
         175450: 1,
         184400: 1,
         227400: 1,
         231500: 1,
         424900: 1,
         319000: 2,
         409900: 1,
         249450: 2,
         325495: 1,
         298850: 1,
         98000: 2,
         228500: 1,
         179750: 1,
         128000: 2,
         214950: 4,
         93200: 1,
         132200: 2,
         194000: 5,
         267945: 1,
         182995: 2,
         494440: 1,
         123950: 1,
         196945: 1,
         234450: 1,
         186900: 1,
         244608: 1,
         246500: 1,
         162950: 1,
         299450: 1,
         166250: 1,
         262400: 1,
         329700: 1,
         346450: 1,
         192500: 3,
         152990: 2,
         415450: 1,
         332500: 1,
         259700: 1,
         428903: 1,
         136200: 1,
         244900: 1,
         113200: 1,
         339450: 1,
         189500: 2,
         95000: 2,
         299990: 1,
         141000: 2,
         294450: 1,
         201605: 1,
         392450: 1,
         129450: 1,
         284990: 1,
         145450: 1,
         158450: 1,
         176695: 1,
         98900: 1,
         179250: 1,
         144800: 1,
         355900: 1,
         218250: 1,
         279750: 1,
         167450: 1,
         220000: 4,
         279500: 3,
         266000: 1,
         373490: 1,
         102950: 1,
         122450: 2,
         398950: 1,
         327250: 1,
         143950: 2,
         268076: 1,
         107750: 1,
         161950: 1,
         221950: 1,
         279945: 1,
         419900: 1,
         230925: 1,
         288950: 1,
         299700: 1,
         277200: 1,
         384150: 1,
         155990: 1,
         169639: 1,
         381850: 1,
         97000: 4,
         244450: 1,
         204925: 1,
         320900: 1,
         265900: 1,
         119450: 3,
         527450: 1,
         346500: 3,
         272500: 1,
         141200: 1,
         274950: 1,
         247923: 1,
         335000: 2,
         177700: 1,
         256945: 1,
         196900: 1,
         114900: 1,
         341500: 1,
         220500: 1,
         186400: 1,
         281750: 1,
         74900: 1,
         158500: 1,
         163900: 1,
         286500: 1,
         243000: 1,
         267338: 1,
         364700: 1,
         329275: 1,
         191500: 1,
         243824: 1,
         281900: 1,
         308945: 1,
         284000: 2,
         123500: 1,
         162450: 2,
         298000: 2,
         239950: 1,
         492500: 1,
         128950: 1,
         434950: 1,
         284900: 2,
         298200: 1,
         213500: 1,
         93450: 1,
         191625: 1,
         312450: 1,
         281445: 1,
         227655: 1,
         302745: 1,
         194700: 2,
         288000: 3,
         213800: 1,
         411495: 1,
         232000: 3,
         191900: 1,
         325285: 1,
         444250: 1,
         439900: 1,
         419500: 1,
         544400: 1,
         195500: 1,
         389450: 1,
         376052: 1,
         272498: 1,
         244950: 2,
         328200: 1,
         223700: 1,
         109500: 1,
         379000: 2,
         214900: 4,
         117000: 1,
         84450: 1,
         125450: 2,
         92500: 1,
         238800: 1,
         186700: 1,
         192450: 1,
         99250: 1,
         268250: 1,
         293495: 1,
         324900: 1,
         214000: 2,
         376900: 1,
         155975: 1,
         379500: 1,
         318750: 1,
         257450: 1,
         270500: 1,
         259000: 1,
         475000: 1,
         399400: 1,
         177150: 1,
         319700: 1,
         292115: 1,
         277000: 2,
         216000: 2,
         324750: 1,
         437500: 1,
         239450: 2,
         141490: 1,
         263326: 1,
         139450: 2,
         281714: 1,
         419000: 1,
         241400: 1,
         142165: 1,
         144389: 1,
         188900: 1,
         146450: 1,
         322450: 2,
         246450: 1,
         253950: 1,
         394900: 1,
         348875: 1,
         179700: 1,
         160950: 1,
         172000: 2,
         349500: 1,
         310500: 1,
         303950: 1,
         339500: 1,
         184445: 1,
         178450: 1,
         372000: 2,
         235500: 1,
         415000: 1,
         402139: 1,
         293900: 1,
         224000: 1,
         168900: 1,
         424500: 2,
         394475: 1,
         340000: 2,
         207400: 1,
         232500: 1,
         272000: 1,
         299980: 1,
         184500: 1,
         539900: 1,
         219999: 1,
         232450: 1,
         249700: 2,
         397450: 1,
         237990: 1,
         332000: 1,
         315500: 1,
         145750: 1,
         180900: 1,
         138950: 1,
         200400: 1,
         547000: 1,
         189945: 1,
         302450: 1,
         404153: 1,
         174850: 1,
         265700: 1,
         148450: 1,
         431700: 1,
         122995: 1,
         267450: 1,
         330552: 1,
         104500: 1,
         445950: 1,
         328266: 1,
         319990: 1,
         329250: 1,
         478500: 1,
         450000: 1,
         184000: 2,
         285500: 1,
         254400: 1,
         412822: 1,
         329925: 1,
         261450: 1,
         126000: 1,
         128900: 1,
         127450: 2,
         196250: 1,
         370000: 1,
         288750: 1,
         131000: 1,
         324500: 1,
         407874: 1,
         164450: 1,
         187000: 2,
         188500: 1,
         212400: 1,
         179450: 1,
         129298: 1,
         399500: 2,
         415900: 1,
         184990: 1,
         190200: 1,
         142400: 1,
         374495: 1,
         195250: 1,
         248000: 1,
         179990: 1,
         88900: 1,
         291000: 1,
         440813: 1,
         324495: 1,
         392950: 1,
         188700: 1,
         324950: 1,
         324400: 1,
         197250: 1,
         156500: 1,
         134500: 2,
         422000: 1,
         194750: 1,
         373500: 1,
         217500: 1,
         397500: 1,
         299320: 1,
         304990: 1,
         246150: 1,
         191950: 1,
         170995: 1,
         204950: 1,
         162000: 2,
         202000: 1,
         127000: 1,
         199450: 1,
         388500: 1,
         318000: 1,
         257700: 1,
         215450: 1,
         535000: 1,
         206080: 1,
         341750: 1,
         279950: 1,
         422450: 1,
         289450: 1,
         289700: 1,
         198000: 2,
         282450: 1,
         354900: 1,
         211000: 1,
         229750: 1,
         218450: 1,
         241000: 1,
         196400: 1,
         138900: 1,
         272990: 1,
         429450: 1,
         245745: 1,
         198490: 1,
         305000: 1,
         207450: 1,
         326750: 1,
         240000: 1,
         239250: 1,
         105950: 1,
         198950: 1,
         186500: 1,
         164500: 1,
         440950: 1,
         160000: 1,
         263950: 1,
         247378: 1,
         157400: 1,
         140400: 1,
         148250: 1,
         286142: 2,
         390590: 1,
         212500: 1,
         429900: 1,
         132900: 1,
         195200: 1,
         322000: 1,
         243700: 1,
         259400: 1,
         151450: 1,
         532475: 1,
         269700: 1,
         138450: 1,
         187450: 2,
         173900: 1,
         192350: 1,
         355000: 1,
         163495: 1,
         178950: 1,
         193000: 1,
         298900: 1,
         226950: 1,
         225500: 1,
         214750: 1,
         338500: 1,
         394629: 1,
         94900: 1,
         278000: 1,
         233490: 1,
         387750: 1,
         430250: 1,
         349995: 1,
         165490: 1,
         181950: 1,
         95700: 1,
         390393: 1,
         105900: 1,
         357448: 1,
         228000: 1,
         175500: 1,
         354950: 1,
         92000: 1,
         308174: 1,
         278552: 1,
         191700: 1,
         147490: 1,
         ...})

In [62]:
score1 = rf_model1.score(X_test, y_test)
print(f"Testing data score:{(score1)}")

Testing data score:0.9692113028682223