In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from collections import Counter
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.compose import ColumnTransformer 
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cluster import KMeans

from sklearn.metrics import mean_squared_error, silhouette_score

In [2]:
data_nona = pd.read_csv("../FinalProject/Resources/data_nona.csv")

data_nona.columns

Index(['month_date_yyyymm', 'postal_code', 'zip_name', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy',
       'active_listing_count', 'active_listing_count_mm',
       'active_listing_count_yy', 'median_days_on_market',
       'median_days_on_market_mm', 'median_days_on_market_yy',
       'new_listing_count', 'new_listing_count_mm', 'new_listing_count_yy',
       'price_increased_count', 'price_increased_count_mm',
       'price_increased_count_yy', 'price_reduced_count',
       'price_reduced_count_mm', 'price_reduced_count_yy',
       'pending_listing_count', 'pending_listing_count_mm',
       'pending_listing_count_yy', 'median_listing_price_per_square_foot',
       'median_listing_price_per_square_foot_mm',
       'median_listing_price_per_square_foot_yy', 'median_square_feet',
       'median_square_feet_mm', 'median_square_feet_yy',
       'average_listing_price', 'average_listing_price_mm',
       'average_listing_price_yy', 'total_listing_count',
       'total_listing_count_mm', 'total_listing_count_yy', 'pending_ratio',
       'pending_ratio_mm', 'pending_ratio_yy', 'quality_flag', 'year-month'],
      dtype='object')

In [5]:
for columns in data_nona:
    print (columns)

month_date_yyyymm
postal_code
zip_name
median_listing_price
median_listing_price_mm
median_listing_price_yy
active_listing_count
active_listing_count_mm
active_listing_count_yy
median_days_on_market
median_days_on_market_mm
median_days_on_market_yy
new_listing_count
new_listing_count_mm
new_listing_count_yy
price_increased_count
price_increased_count_mm
price_increased_count_yy
price_reduced_count
price_reduced_count_mm
price_reduced_count_yy
pending_listing_count
pending_listing_count_mm
pending_listing_count_yy
median_listing_price_per_square_foot
median_listing_price_per_square_foot_mm
median_listing_price_per_square_foot_yy
median_square_feet
median_square_feet_mm
median_square_feet_yy
average_listing_price
average_listing_price_mm
average_listing_price_yy
total_listing_count
total_listing_count_mm
total_listing_count_yy
pending_ratio
pending_ratio_mm
pending_ratio_yy
quality_flag
year-month

In [7]:
new_df = pd.read_csv("../FinalProject/Resources/us_data.csv")

new_df

C:\Users\Kaylaa\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7,45) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,postal_code,city,state_,county,latitude,longitude,month_date_yyyymm,city_state,median_listing_price,median_listing_price_mm,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,year_month
0,33572,Apollo Beach,FL,HILLSBOROUGH,27.845790,-82.331983,202206.0,"apollo beach, fl",731950.0,0.1665,...,0.0181,0.2696,280.0,0.1382,0.3146,1.9785,-0.7336,-1.5534,1.0,2022-06-01
1,28445,Holly Ridge,NC,ONSLOW,34.527983,-77.514707,202206.0,"holly ridge, nc",687450.0,0.1325,...,0.0795,0.1772,317.0,0.0893,0.0063,3.1429,-1.0714,-1.0905,1.0,2022-06-01
2,78634,Hutto,TX,WILLIAMSON,30.551885,-97.554189,202206.0,"hutto, tx",472500.0,0.0071,...,-0.0249,0.2655,182.0,0.4677,0.3000,0.3358,-0.2465,-0.5820,1.0,2022-06-01
3,20872,Damascus,MD,MONTGOMERY,39.285477,-77.215203,202206.0,"damascus, md",731995.0,0.0028,...,-0.0137,0.1910,36.0,0.0909,-0.2000,1.2500,0.3676,-0.1944,1.0,2022-06-01
4,87121,Albuquerque,NM,BERNALILLO,35.059663,-106.805535,202206.0,"albuquerque, nm",271000.0,0.0131,...,0.0424,0.2202,159.0,-0.0305,-0.0185,3.5429,0.3634,-1.0089,1.0,2022-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134291,6372,Old Mystic,CT,NEW LONDON,41.388216,-71.949548,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134292,97489,Walterville,OR,LANE,44.128776,-122.637619,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134293,69361,Scottsbluff,NE,SCOTTS BLUFF,41.872005,-103.770230,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134294,62761,Springfield,IL,SANGAMON,39.852361,-89.541017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134295,15112,East Pittsburgh,PA,ALLEGHENY,40.434436,-80.024817,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
new_df.drop(['month_date_yyyymm', 'city_state'], axis=1, inplace=True)

new_df

,postal_code,city,state_,county,latitude,longitude,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,year_month
0,33572,Apollo Beach,FL,HILLSBOROUGH,27.845790,-82.331983,731950.0,0.1665,0.5577,93.0,...,0.0181,0.2696,280.0,0.1382,0.3146,1.9785,-0.7336,-1.5534,1.0,2022-06-01
1,28445,Holly Ridge,NC,ONSLOW,34.527983,-77.514707,687450.0,0.1325,0.4761,77.0,...,0.0795,0.1772,317.0,0.0893,0.0063,3.1429,-1.0714,-1.0905,1.0,2022-06-01
2,78634,Hutto,TX,WILLIAMSON,30.551885,-97.554189,472500.0,0.0071,0.2459,134.0,...,-0.0249,0.2655,182.0,0.4677,0.3000,0.3358,-0.2465,-0.5820,1.0,2022-06-01
3,20872,Damascus,MD,MONTGOMERY,39.285477,-77.215203,731995.0,0.0028,0.2642,16.0,...,-0.0137,0.1910,36.0,0.0909,-0.2000,1.2500,0.3676,-0.1944,1.0,2022-06-01
4,87121,Albuquerque,NM,BERNALILLO,35.059663,-106.805535,271000.0,0.0131,0.2047,35.0,...,0.0424,0.2202,159.0,-0.0305,-0.0185,3.5429,0.3634,-1.0089,1.0,2022-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134291,6372,Old Mystic,CT,NEW LONDON,41.388216,-71.949548,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134292,97489,Walterville,OR,LANE,44.128776,-122.637619,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134293,69361,Scottsbluff,NE,SCOTTS BLUFF,41.872005,-103.770230,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134294,62761,Springfield,IL,SANGAMON,39.852361,-89.541017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134295,15112,East Pittsburgh,PA,ALLEGHENY,40.434436,-80.024817,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
new_df = new_df.dropna()

In [24]:
for columns in new_df:
    print("'" + columns + "',")

'postal_code',
'city',
'state_',
'county',
'latitude',
'longitude',
'median_listing_price',
'median_listing_price_mm',
'median_listing_price_yy',
'active_listing_count',
'active_listing_count_mm',
'active_listing_count_yy',
'median_days_on_market',
'median_days_on_market_mm',
'median_days_on_market_yy',
'new_listing_count',
'new_listing_count_mm',
'new_listing_count_yy',
'price_increased_count',
'price_increased_count_mm',
'price_increased_count_yy',
'price_reduced_count',
'price_reduced_count_mm',
'price_reduced_count_yy',
'pending_listing_count',
'pending_listing_count_mm',
'pending_listing_count_yy',
'median_listing_price_per_square_foot',
'median_listing_price_per_square_foot_mm',
'median_listing_price_per_square_foot_yy',
'median_square_feet',
'median_square_feet_mm',
'median_square_feet_yy',
'average_listing_price',
'average_listing_price_mm',
'average_listing_price_yy',
'total_listing_count',
'total_listing_count_mm',
'total_listing_count_yy',
'pending_ratio',
'pending_ratio_mm',
'pending_ratio_yy',
'quality_flag',
'year_month',

In [25]:
clean_df = new_df[['year_month','postal_code','city','state_','county','latitude','longitude',
                  'median_listing_price','median_listing_price_mm','median_listing_price_yy',
                  'active_listing_count','active_listing_count_mm','active_listing_count_yy',
                  'median_days_on_market','median_days_on_market_mm','median_days_on_market_yy',
                  'new_listing_count','new_listing_count_mm','new_listing_count_yy',
                  'price_increased_count','price_increased_count_mm','price_increased_count_yy',
                  'price_reduced_count','price_reduced_count_mm','price_reduced_count_yy',
                  'pending_listing_count','pending_listing_count_mm','pending_listing_count_yy',
                  'median_listing_price_per_square_foot','median_listing_price_per_square_foot_mm',
                  'median_listing_price_per_square_foot_yy','median_square_feet',
                  'median_square_feet_mm','median_square_feet_yy','average_listing_price',
                  'average_listing_price_mm','average_listing_price_yy','total_listing_count',
                  'total_listing_count_mm','total_listing_count_yy','pending_ratio',
                  'pending_ratio_mm','pending_ratio_yy','quality_flag']]
clean_df

,year_month,postal_code,city,state_,county,latitude,longitude,median_listing_price,median_listing_price_mm,median_listing_price_yy,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,2022-06-01,33572,Apollo Beach,FL,HILLSBOROUGH,27.845790,-82.331983,731950.0,0.1665,0.5577,...,861186.0,0.0181,0.2696,280.0,0.1382,0.3146,1.9785,-0.7336,-1.5534,1.0
1,2022-06-01,28445,Holly Ridge,NC,ONSLOW,34.527983,-77.514707,687450.0,0.1325,0.4761,...,752644.0,0.0795,0.1772,317.0,0.0893,0.0063,3.1429,-1.0714,-1.0905,1.0
2,2022-06-01,78634,Hutto,TX,WILLIAMSON,30.551885,-97.554189,472500.0,0.0071,0.2459,...,529484.0,-0.0249,0.2655,182.0,0.4677,0.3000,0.3358,-0.2465,-0.5820,1.0
3,2022-06-01,20872,Damascus,MD,MONTGOMERY,39.285477,-77.215203,731995.0,0.0028,0.2642,...,839165.0,-0.0137,0.1910,36.0,0.0909,-0.2000,1.2500,0.3676,-0.1944,1.0
4,2022-06-01,87121,Albuquerque,NM,BERNALILLO,35.059663,-106.805535,271000.0,0.0131,0.2047,...,308163.0,0.0424,0.2202,159.0,-0.0305,-0.0185,3.5429,0.3634,-1.0089,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98152,2017-07-01,46060,Noblesville,IN,HAMILTON,40.073328,-85.999521,255975.0,-0.0623,0.0897,...,330941.0,-0.0694,0.0532,260.0,0.0788,0.0442,0.8276,-0.1160,0.0562,0.0
98153,2017-07-01,21144,Severn,MD,ANNE ARUNDEL,38.983971,-76.623121,414990.0,-0.0493,-0.0236,...,414321.0,-0.0260,-0.0125,151.0,0.0134,-0.2011,0.2258,0.0027,0.0233,0.0
98154,2017-07-01,89506,Reno,NV,WASHOE,39.695488,-119.811146,294900.0,0.0543,0.1430,...,307870.0,0.0661,0.1502,204.0,-0.0192,-0.0852,2.4483,0.2968,1.2326,0.0
98155,2017-07-01,32034,Fernandina Beach,FL,NASSAU,30.607780,-81.682889,429990.0,0.0000,-0.0205,...,598046.0,0.0021,0.0518,890.0,-0.0252,0.2276,0.5961,0.0229,0.4670,0.0
98156,2017-07-01,34652,New Port Richey,FL,PASCO,28.239369,-82.736882,165000.0,-0.0490,-0.1709,...,264409.0,-0.0289,0.0306,313.0,0.0032,-0.0657,0.4951,-0.0499,0.0410,1.0

In [27]:
filepath = '../FinalProject/Resources/joined_df.csv'
clean_df.to_csv(filepath, sep=',')

In [32]:
clean_df.isna().sum()

year_month                                 0
postal_code                                0
city                                       0
state_                                     0
county                                     0
latitude                                   0
longitude                                  0
median_listing_price                       0
median_listing_price_mm                    0
median_listing_price_yy                    0
active_listing_count                       0
active_listing_count_mm                    0
active_listing_count_yy                    0
median_days_on_market                      0
median_days_on_market_mm                   0
median_days_on_market_yy                   0
new_listing_count                          0
new_listing_count_mm                       0
new_listing_count_yy                       0
price_increased_count                      0
price_increased_count_mm                   0
price_increased_count_yy                   0
price_reduced_count                        0
price_reduced_count_mm                     0
price_reduced_count_yy                     0
pending_listing_count                      0
pending_listing_count_mm                   0
pending_listing_count_yy                   0
median_listing_price_per_square_foot       0
median_listing_price_per_square_foot_mm    0
median_listing_price_per_square_foot_yy    0
median_square_feet                         0
median_square_feet_mm                      0
median_square_feet_yy                      0
average_listing_price                      0
average_listing_price_mm                   0
average_listing_price_yy                   0
total_listing_count                        0
total_listing_count_mm                     0
total_listing_count_yy                     0
pending_ratio                              0
pending_ratio_mm                           0
pending_ratio_yy                           0
quality_flag                               0
dtype: int64

In [33]:
clean_df.dtypes

year_month                                  object
postal_code                                  int64
city                                        object
state_                                      object
county                                      object
latitude                                   float64
longitude                                  float64
median_listing_price                       float64
median_listing_price_mm                    float64
median_listing_price_yy                    float64
active_listing_count                       float64
active_listing_count_mm                    float64
active_listing_count_yy                    float64
median_days_on_market                      float64
median_days_on_market_mm                   float64
median_days_on_market_yy                   float64
new_listing_count                          float64
new_listing_count_mm                       float64
new_listing_count_yy                       float64
price_increased_count                      float64
price_increased_count_mm                   float64
price_increased_count_yy                   float64
price_reduced_count                        float64
price_reduced_count_mm                     float64
price_reduced_count_yy                     float64
pending_listing_count                      float64
pending_listing_count_mm                   float64
pending_listing_count_yy                   float64
median_listing_price_per_square_foot       float64
median_listing_price_per_square_foot_mm    float64
median_listing_price_per_square_foot_yy    float64
median_square_feet                         float64
median_square_feet_mm                      float64
median_square_feet_yy                      float64
average_listing_price                      float64
average_listing_price_mm                   float64
average_listing_price_yy                   float64
total_listing_count                        float64
total_listing_count_mm                     float64
total_listing_count_yy                     float64
pending_ratio                              float64
pending_ratio_mm                           float64
pending_ratio_yy                           float64
quality_flag                               float64
dtype: object