In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
df = pd.read_csv('Resources/filled_final_table.csv')
df.head()

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,NaN,5.52,NaN,0.034063,54.0
1,2022-06,2022,Alexander,312450,34,35,28,0,20,1942,370648,59,NaN,5.52,NaN,0.016428,25.0
2,2022-06,2022,Alleghany,389000,54,39,24,0,20,1904,422802,92,NaN,5.52,NaN,-0.038200,0.0
3,2022-06,2022,Anson,170000,22,34,16,0,8,1502,262240,48,NaN,5.52,NaN,0.218638,3.0
4,2022-06,2022,Ashe,485000,76,31,48,0,20,1907,592879,137,NaN,5.52,NaN,-0.088346,5.0

In [3]:
df['violent_crime_rate']= df['violent_crime_rate'].astype(str).str.replace(',','').astype(float)
df.dtypes

Date                        object
Year                         int64
County                      object
median_listing_price         int64
active_listing_count         int64
median_days_on_market        int64
new_listing_count            int64
price_increased_count        int64
price_reduced_count          int64
median_square_feet           int64
average_listing_price        int64
total_listing_count          int64
violent_crime_rate         float64
30_Year_Fixed_Rate         float64
Number_of_Schools          float64
median_listing_price_mm    float64
Number_of_Parks            float64
dtype: object

In [4]:
filter_df = df[df['Year'] <2019]

In [5]:
filter_df['Price_Status'] = np.where(filter_df['median_listing_price_mm']>=0, 'up', 'down')

In [6]:
columns = [
    "Date", "Year", "County",
    "active_listing_count", "median_days_on_market", "new_listing_count",
    "price_increased_count", "price_reduced_count", "median_square_feet",
    "total_listing_count", "violent_crime_rate","Number_of_Parks",
    "Number_of_Schools","30_Year_Fixed_Rate", 
     "Price_Status"]

target = ["Price_Status"]

In [7]:
# Load the data

df_data = filter_df.loc[:, columns].copy()
df_data = df_data.dropna()

df_data.reset_index(inplace=True, drop=True)

df_data.head()
df_data.isnull().sum()

Date                     0
Year                     0
County                   0
active_listing_count     0
median_days_on_market    0
new_listing_count        0
price_increased_count    0
price_reduced_count      0
median_square_feet       0
total_listing_count      0
violent_crime_rate       0
Number_of_Parks          0
Number_of_Schools        0
30_Year_Fixed_Rate       0
Price_Status             0
dtype: int64

In [8]:
# Create our features
X = df_data.drop('Price_Status', axis=1)

X = pd.get_dummies(X)

# Create our target
y = df_data.loc[:, target].copy()

In [9]:
# Check the balance of our target values
y['Price_Status'].value_counts()

up      1448
down    1162
Name: Price_Status, dtype: int64

### Ensemble Learners

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_test.shape
y_test.shape
y_train.shape

(1957, 1)

In [11]:
pip install imbalanced-learn==0.9.0

Requirement already satisfied: imbalanced-learn==0.9.0 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from imbalanced-learn==0.9.0) (2.2.0)
Collecting scikit-learn>=1.0.1
  Downloading scikit_learn-1.0.2-cp37-cp37m-macosx_10_13_x86_64.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 1.5 MB/s eta 0:00:01
Requirement already satisfied: joblib>=0.11 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from imbalanced-learn==0.9.0) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from imbalanced-learn==0.9.0) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from imbalanced-learn==0.9.0) (1.7.3)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0
    Uninstalling scikit-learn-1.0:
      Successfully uninstalled scikit-learn-1.0
Successfully installed scikit-learn-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install scikit-learn==1.0

Collecting scikit-learn==1.0
  Using cached scikit_learn-1.0-cp37-cp37m-macosx_10_13_x86_64.whl (7.9 MB)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from scikit-learn==1.0) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from scikit-learn==1.0) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from scikit-learn==1.0) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /Users/kkanchi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from scikit-learn==1.0) (1.7.3)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
imbalanced-learn 0.9.0 requires scikit-learn>=1.0.1, but you have scikit-learn 1.0 which is incompatible.
Successfully installed scikit-learn-1.0
Note: you may need to restart the kernel to use updated packages.

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'Price_Status': 1})

In [33]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# Fitting the model
brf_model = brf_model.fit(X_train, y_train)

# Making predictions using the testing data
predictions = brf_model.predict(X_test)

In [34]:
X_train.shape

(1957, 134)

In [16]:
X.describe()

,Year,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,total_listing_count,violent_crime_rate,Number_of_Parks,...,County_Union,County_Vance,County_Wake,County_Warren,County_Watauga,County_Wayne,County_Wilkes,County_Wilson,County_Yadkin,County_Yancey
count,2610.000000,2610.000000,2610.000000,2610.00000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,...,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000
mean,2017.181609,568.260536,113.965900,156.97931,15.834483,132.331034,2067.973180,728.490421,285.934483,90.041379,...,0.011494,0.011494,0.011494,0.011494,0.011494,0.011494,0.011494,0.011494,0.011494,0.011494
std,0.753150,650.648846,41.824278,282.25789,45.725834,233.366958,343.581847,917.663347,176.313277,217.889553,...,0.106614,0.106614,0.106614,0.106614,0.106614,0.106614,0.106614,0.106614,0.106614,0.106614
min,2016.000000,12.000000,18.000000,0.00000,0.000000,0.000000,1295.000000,14.000000,19.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.000000,159.000000,84.000000,28.00000,0.000000,20.000000,1847.250000,179.000000,167.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2017.000000,367.000000,107.000000,72.00000,4.000000,60.000000,1996.000000,434.000000,227.700000,25.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2018.000000,681.500000,137.000000,168.00000,12.000000,144.000000,2250.000000,917.750000,365.300000,83.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2018.000000,4908.000000,330.000000,2256.00000,488.000000,2180.000000,3527.000000,5986.000000,920.300000,1627.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1) 
rf_model = rf_model.fit(X_train, y_train)
Counter(y_train['Price_Status'])

Counter({'down': 864, 'up': 1093})

In [30]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = rf_model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[161, 137],
       [146, 209]])

In [35]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

y_pred = brf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5645004253710181

In [36]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          161          137
Actual 1          146          209

In [37]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       down       0.52      0.54      0.59      0.53      0.56      0.32       298
         up       0.60      0.59      0.54      0.60      0.56      0.32       355

avg / total       0.57      0.57      0.56      0.57      0.56      0.32       653

In [38]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.0799400428498193, 'median_square_feet'),
 (0.07914113503157279, 'median_days_on_market'),
 (0.07741050378175579, 'total_listing_count'),
 (0.07729372980894128, 'active_listing_count'),
 (0.06939624893777557, 'price_reduced_count'),
 (0.06759715187860406, 'new_listing_count'),
 (0.0632074693089032, '30_Year_Fixed_Rate'),
 (0.05425894278814555, 'violent_crime_rate'),
 (0.047991644873677936, 'Number_of_Schools'),
 (0.04020975669416658, 'Number_of_Parks'),
 (0.0322096100282059, 'price_increased_count'),
 (0.017701253805088038, 'Year'),
 (0.016556278519109777, 'Date_2016-07'),
 (0.008246497465934258, 'Date_2017-04'),
 (0.008193925627171807, 'Date_2017-03'),
 (0.006322129608195239, 'Date_2017-06'),
 (0.006288128030707354, 'Date_2017-12'),
 (0.005655685269294064, 'Date_2018-03'),
 (0.005637827557722277, 'Date_2017-09'),
 (0.0056370624875779676, 'Date_2018-08'),
 (0.00553720588403463, 'Date_2017-02'),
 (0.005467247042240972, 'Date_2018-10'),
 (0.0053651048857870165, 'Date_2018-07'),
 (0.005348827075219298, 'Date_2018-04'),
 (0.0053443711415293695, 'Date_2017-05'),
 (0.005303562674261856, 'Date_2017-07'),
 (0.0052714761378900455, 'Date_2018-11'),
 (0.005223381115661351, 'Date_2018-06'),
 (0.0051833299366679745, 'Date_2017-10'),
 (0.005129611517577803, 'Date_2018-01'),
 (0.004990047465616529, 'Date_2017-01'),
 (0.004977558137854544, 'Date_2018-05'),
 (0.004695125228462975, 'Date_2018-12'),
 (0.004602281401024756, 'Date_2016-12'),
 (0.004584693030457452, 'Date_2016-11'),
 (0.004476644396387411, 'Date_2017-11'),
 (0.004450773691914978, 'Date_2017-08'),
 (0.004402012785009085, 'Date_2018-02'),
 (0.0041645106822301775, 'Date_2018-09'),
 (0.004099279366412908, 'Date_2016-10'),
 (0.00402543964315823, 'Date_2016-08'),
 (0.003686124238473195, 'County_Swain'),
 (0.0036001949550471574, 'Date_2016-09'),
 (0.0029647564336781466, 'County_Rutherford'),
 (0.0024369301954857217, 'County_Stokes'),
 (0.0023057006653000593, 'County_Stanly'),
 (0.0022213305489067704, 'County_Duplin'),
 (0.0022093276401489404, 'County_Hoke'),
 (0.002061827931940969, 'County_Surry'),
 (0.001881060266867102, 'County_Wilkes'),
 (0.0018676991508249877, 'County_Clay'),
 (0.0018201854992720681, 'County_Henderson'),
 (0.001802646114613277, 'County_Person'),
 (0.0017547232201326351, 'County_Orange'),
 (0.0017539939510097264, 'County_Cleveland'),
 (0.0017224065251624273, 'County_Yadkin'),
 (0.0017022307925188508, 'County_Halifax'),
 (0.001697244233834439, 'County_Yancey'),
 (0.0016666528142477187, 'County_Cabarrus'),
 (0.0016613497053166813, 'County_Madison'),
 (0.0016180740331925589, 'County_Columbus'),
 (0.0016160473816034724, 'County_Rockingham'),
 (0.0016156260224716884, 'County_Perquimans'),
 (0.0016141305052601754, 'County_Pamlico'),
 (0.0016088534617554424, 'County_Johnston'),
 (0.0016079107617094964, 'County_Richmond'),
 (0.0016075170150139622, 'County_Vance'),
 (0.0016043526306560912, 'County_Chatham'),
 (0.001601364677043546, 'County_Beaufort'),
 (0.0015894137409112874, 'County_Transylvania'),
 (0.0015869887040036266, 'County_Avery'),
 (0.0015866448857385135, 'County_Alleghany'),
 (0.0015853358843095158, 'County_Randolph'),
 (0.0015614376347542222, 'County_Wilson'),
 (0.0015579537106006935, 'County_Davidson'),
 (0.0015493724800646259, 'County_Lenoir'),
 (0.0015448607131007654, 'County_Camden'),
 (0.001535571098728952, 'County_Chowan'),
 (0.0015138335786239957, 'County_Burke'),
 (0.0014804082332124336, 'County_Catawba'),
 (0.0014774474812496408, 'County_Pender'),
 (0.0014357756669236457, 'County_Currituck'),
 (0.001430497497877328, 'County_Sampson'),
 (0.0013826171079812496, 'County_Haywood'),
 (0.0013797650301272586, 'County_Pasquotank'),
 (0.0013630894414399055, 'County_Wayne'),
 (0.0013331157151087389, 'County_Warren'),
 (0.0013141657325833882, 'County_Watauga'),
 (0.001309348608834231, 'County_Franklin'),
 (0.0012959545736697079, 'County_Bertie'),
 (0.0012842215359913777, 'County_Granville'),
 (0.0012658263378282327, 'County_Scotland'),
 (0.0012620100059304287, 'County_Northampton'),
 (0.0012586548212591934, 'County_Anson'),
 (0.001253336328724052, 'County_Martin'),
 (0.0012500604288306655, 'County_Carteret'),
 (0.0012386334581607906, 'County_Alamance'),
 (0.0012144515758796125, 'County_Hertford'),
 (0.0012097738680086467, 'County_Davie'),
 (0.0012025883562505218, 'County_Craven'),
 (0.0011985486151721994, 'County_Caldwell'),
 (0.0011956886804859472, 'County_Robeson'),
 (0.0011911516768776688, 'County_Jackson'),
 (0.0011897668620225134, 'County_Lincoln'),
 (0.0011865727303717215, 'County_Iredell'),
 (0.0011802197633541591, 'County_Alexander'),
 (0.0011523821750410647, 'County_Forsyth'),
 (0.00114794672601166, 'County_Montgomery'),
 (0.001147312397765621, 'County_Gaston'),
 (0.0011185142581567546, 'County_Onslow'),
 (0.0011153140298451362, 'County_Moore'),
 (0.0010900519882601348, 'County_Rowan'),
 (0.0010868220221505694, 'County_Polk'),
 (0.001065552540322108, 'County_Dare'),
 (0.0010552668908784452, 'County_Macon'),
 (0.0010070410708153455, 'County_Harnett'),
 (0.0009727728009071285, 'County_Cherokee'),
 (0.0009488562044235256, 'County_Pitt'),
 (0.000931107987198366, 'County_Graham'),
 (0.0009265609361973284, 'County_Tyrrell'),
 (0.0008478337791176827, 'County_Cumberland'),
 (0.0007841308229262364, 'County_Greene'),
 (0.0007760648608003321, 'County_Union'),
 (0.000753553792131039, 'County_Caswell'),
 (0.0007285848767470831, 'County_Durham'),
 (0.000700837459206719, 'County_Buncombe'),
 (0.0006790827683824233, 'County_Brunswick'),
 (0.0006132470486648686, 'County_Guilford'),
 (0.0004964133663638614, 'County_Wake'),
 (0.0004658625929687214, 'County_Edgecombe'),
 (0.0003646978018137846, 'County_Lee'),
 (0.0003260454264281616, 'County_Mecklenburg'),
 (0.0003042940900505838, 'County_Ashe'),
 (0.0001509777581784782, 'County_Nash')]

### Easy Ensemble AdaBoost Classifier

In [39]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec_model = EasyEnsembleClassifier(n_estimators=200, random_state=1)

# Fitting the model
eec_model = eec_model.fit(X_train, y_train)

# Making predictions using the testing data
predictions = eec_model.predict(X_test)

In [25]:
# Calculated the balanced accuracy score
y_pred = eec_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5827110312884015

In [26]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          192          106
Actual 1          170          185

In [27]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       down       0.53      0.64      0.52      0.58      0.58      0.34       298
         up       0.64      0.52      0.64      0.57      0.58      0.33       355

avg / total       0.59      0.58      0.59      0.58      0.58      0.34       653