In [28]:
!pip install bitdotio[psycopg2-binary]

Requirement already satisfied: bitdotio[psycopg2-binary] in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (1.1.0b1)
Requirement already satisfied: urllib3>=1.15 in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from bitdotio[psycopg2-binary]) (1.26.9)
Requirement already satisfied: certifi in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from bitdotio[psycopg2-binary]) (2021.10.8)
Requirement already satisfied: six>=1.10 in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from bitdotio[psycopg2-binary]) (1.16.0)
Requirement already satisfied: click>=8.0.1 in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from bitdotio[psycopg2-binary]) (8.0.4)
Requirement already satisfied: python-dateutil in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from bitdotio[psycopg2-binary]) (2.8.2)
Requirement already satisfied: psycopg2-binary>=2.8.6 in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from bitdotio[psycopg2-binary]) (2.9.3)
Requirement already satisfied: importlib-metadata in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from click>=8.0.1->bitdotio[psycopg2-binary]) (4.11.3)
Requirement already satisfied: colorama in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from click>=8.0.1->bitdotio[psycopg2-binary]) (0.4.4)
Requirement already satisfied: zipp>=0.5 in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from importlib-metadata->click>=8.0.1->bitdotio[psycopg2-binary]) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\kaylaa\anaconda3\envs\mlenv\lib\site-packages (from importlib-metadata->click>=8.0.1->bitdotio[psycopg2-binary]) (4.1.1)

In [24]:
!pip install pprintpp

Collecting pprintpp
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: pprintpp
Successfully installed pprintpp-0.4.0

In [29]:
import bitdotio
from config import bit_password
from pprintpp import pprint

b = bitdotio.bitdotio(bit_password)

conn = b.get_connection('ksommerdorf/RealEstateProject')
cur = conn.cursor()
cur.execute("SELECT 1")
pprint(cur.fetchone())

(1, )

In [34]:
import csv
from io import StringIO
import time

import pandas as pd
from sqlalchemy import create_engine
#from config import pg_string

In [38]:
# Create SQLAlchemy engine to manage our database connections
# Note that we bump the statement_timeout to 60 seconds
# pool_pre_ping=True 
engine = create_engine(pg_string, pool_pre_ping=True)
# SQL for querying an entire table
sql = f'''
    SELECT *
    FROM "nc_hotness";
'''
# Return SQL query as a pandas dataframe
with engine.connect() as conn:
    # Set 1 minute statement timeout (units are milliseconds)
    conn.execute("SET statement_timeout = 60000;")
    df = pd.read_sql(sql, conn)
df.head()

,Unnamed: 0,date,county,county_fips,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count
0,57,2022-06-01,cherokee,37039,362500,271,38,148,8,76,1904,407510,467
1,144,2022-06-01,craven,37049,313500,154,36,196,12,48,1927,396716,581
2,161,2022-06-01,catawba,37035,342450,207,34,224,0,96,1923,521108,508
3,240,2022-06-01,gaston,37071,330000,283,30,412,12,200,1668,377406,828
4,280,2022-06-01,warren,37185,275000,19,68,12,0,4,1824,419452,29