In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from pathlib import Path
import joblib
from collections import Counter

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import precision_recall_curve, roc_auc_score, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.feature_selection import SelectFromModel

In [2]:
file_path = Path('filled_final_table.csv')
df = pd.read_csv(file_path)
df

,Date,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,average_listing_price,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,median_listing_price_mm,Number_of_Parks
0,2022-06,2022,Alamance,382500,298,18,452,12,108,2112,443362,644,NaN,5.52,NaN,0.034063,54.0
1,2022-06,2022,Alexander,312450,34,35,28,0,20,1942,370648,59,NaN,5.52,NaN,0.016428,25.0
2,2022-06,2022,Alleghany,389000,54,39,24,0,20,1904,422802,92,NaN,5.52,NaN,-0.038200,0.0
3,2022-06,2022,Anson,170000,22,34,16,0,8,1502,262240,48,NaN,5.52,NaN,0.218638,3.0
4,2022-06,2022,Ashe,485000,76,31,48,0,20,1907,592879,137,NaN,5.52,NaN,-0.088346,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7191,2016-07,2016,Wayne,165000,593,83,104,4,92,1868,177275,603,442,3.44,88.0,NaN,36.0
7192,2016-07,2016,Wilkes,234900,320,116,44,4,48,2146,337545,380,208.4,3.44,52.0,NaN,34.0
7193,2016-07,2016,Wilson,117500,512,52,92,8,80,1922,150833,646,398.9,3.44,87.0,NaN,70.0
7194,2016-07,2016,Yadkin,210000,146,142,20,0,8,2460,285062,161,231.2,3.44,16.0,NaN,4.0
7195,2016-07,2016,Yancey,259900,499,106,68,0,60,1835,359142,523,55.7,3.44,28.0,NaN,4.0

In [3]:
df['violent_crime_rate']= df['violent_crime_rate'].str.replace(',','').astype(float)

In [4]:
df_drop = df.drop(['Date','median_listing_price_mm','average_listing_price'], axis=1)

In [5]:
df_drop = df_drop.dropna()

In [6]:
df_drop.columns

Index(['Year', 'County', 'median_listing_price', 'active_listing_count',
       'median_days_on_market', 'new_listing_count', 'price_increased_count',
       'price_reduced_count', 'median_square_feet', 'total_listing_count',
       'violent_crime_rate', '30_Year_Fixed_Rate', 'Number_of_Schools',
       'Number_of_Parks'],
      dtype='object')

In [7]:
df_drop

,Year,County,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,Number_of_Parks
4196,2018,Alamance,249900,761,78,172,28,116,2060,843,419.9,4.64,94.0,54.0
4197,2018,Alexander,229900,90,102,8,0,16,1924,103,221.9,4.64,49.0,25.0
4198,2018,Alleghany,114900,420,227,4,0,20,1886,438,114.8,4.64,11.0,0.0
4199,2018,Anson,125000,65,100,8,0,12,1500,78,568.4,4.64,15.0,3.0
4202,2018,Beaufort,245000,272,151,32,0,48,1950,337,221.2,4.64,25.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7191,2016,Wayne,165000,593,83,104,4,92,1868,603,442.0,3.44,88.0,36.0
7192,2016,Wilkes,234900,320,116,44,4,48,2146,380,208.4,3.44,52.0,34.0
7193,2016,Wilson,117500,512,52,92,8,80,1922,646,398.9,3.44,87.0,70.0
7194,2016,Yadkin,210000,146,142,20,0,8,2460,161,231.2,3.44,16.0,4.0
7195,2016,Yancey,259900,499,106,68,0,60,1835,523,55.7,3.44,28.0,4.0

In [8]:
selected_features = df_drop[['Year', 'County','active_listing_count',
       'median_days_on_market', 'new_listing_count', 'price_increased_count',
       'price_reduced_count', 'median_square_feet',
       'total_listing_count', 'violent_crime_rate', '30_Year_Fixed_Rate',
       'Number_of_Schools', 'Number_of_Parks']]
selected_features

,Year,County,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,median_square_feet,total_listing_count,violent_crime_rate,30_Year_Fixed_Rate,Number_of_Schools,Number_of_Parks
4196,2018,Alamance,761,78,172,28,116,2060,843,419.9,4.64,94.0,54.0
4197,2018,Alexander,90,102,8,0,16,1924,103,221.9,4.64,49.0,25.0
4198,2018,Alleghany,420,227,4,0,20,1886,438,114.8,4.64,11.0,0.0
4199,2018,Anson,65,100,8,0,12,1500,78,568.4,4.64,15.0,3.0
4202,2018,Beaufort,272,151,32,0,48,1950,337,221.2,4.64,25.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7191,2016,Wayne,593,83,104,4,92,1868,603,442.0,3.44,88.0,36.0
7192,2016,Wilkes,320,116,44,4,48,2146,380,208.4,3.44,52.0,34.0
7193,2016,Wilson,512,52,92,8,80,1922,646,398.9,3.44,87.0,70.0
7194,2016,Yadkin,146,142,20,0,8,2460,161,231.2,3.44,16.0,4.0
7195,2016,Yancey,499,106,68,0,60,1835,523,55.7,3.44,28.0,4.0

In [9]:
X = selected_features
X = pd.get_dummies(X)
y = df_drop[['median_listing_price']]

print("Shape: ", X.shape, y.shape)

Shape:  (2610, 104) (2610, 1)

In [10]:
# Use sklearn's `train_test_split` to split the data into training and testing

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
print("Shape: ", X_train.shape, y_train.shape, X_test.shape, y_test.shape)

Shape:  (1957, 104) (1957, 1) (653, 104) (653, 1)

In [11]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(n_estimators=1000, random_state=1) 
rf_model = rf_model.fit(X_train, y_train)

In [12]:
print(f"Training Data Score: {rf_model.score(X_train, y_train)}")
print(f"Testing Data Score: {rf_model.score(X_test, y_test)}")

Training Data Score: 0.9955948591860083
Testing Data Score: 0.9701223712196744

In [13]:
# Make predictions with the model
RandomForestRegressorPredictions = rf_model.predict(X_test)

In [14]:
RandomForestRegressorPredictions

array([142396.29 , 223912.293, 205593.766, 214372.58 , 174432.444,
       277393.789, 283192.847, 347353.911, 144059.084,  99494.75 ,
       227225.549, 132869.275, 176660.224, 215325.422, 185830.352,
       210645.045, 214183.124, 223935.416, 244486.283, 159668.891,
       291662.382, 340581.061, 239611.959, 278401.12 , 276183.497,
       286908.456, 272205.516, 229135.318, 275827.538, 297950.398,
       124568.821, 239207.672, 166576.36 , 131712.941, 193874.71 ,
       138514.766, 144832.319, 344074.696, 267338.9  , 326434.825,
       300724.617, 191971.621, 493388.403, 219144.955, 163503.953,
       130170.78 , 343809.226, 393226.486, 129942.834, 175189.848,
       245022.018, 204416.648, 147173.811, 173134.115, 254218.699,
       239935.747, 281494.35 , 429106.787, 126646.031, 131259.998,
       408928.754, 294159.063, 396095.685, 184938.398, 229507.1  ,
       139396.992, 418600.045, 176326.811, 204593.56 , 195229.185,
       279917.417, 260588.282, 436696.762, 222602.949, 206658.186,
       123575.279, 167702.11 , 222278.   , 301753.429, 272277.807,
       221373.804, 123475.775, 132098.173, 240763.891, 306834.155,
       239994.88 , 285654.264, 170903.157, 215753.48 , 199900.495,
       143510.05 , 179625.738, 396513.036, 238010.27 , 185754.824,
       144632.369, 162333.165, 211126.68 , 127863.939, 539403.419,
       233195.911, 199695.55 , 237896.474, 192169.28 , 229542.884,
       171388.51 , 228370.196, 349266.88 , 288885.727, 150672.5  ,
       368843.032, 137878.276, 268305.751, 192530.345, 347010.398,
       158471.363, 242993.555, 278643.852, 157234.667, 210140.788,
       175100.683, 278677.   , 232159.296, 256671.614, 142687.689,
       214786.488, 315980.013, 440986.4  , 133916.057, 254779.741,
       190669.633, 366256.15 , 179877.483, 244987.95 , 218974.586,
       286601.126, 283879.676, 283164.653, 188306.248, 348284.837,
       286376.327, 170306.208, 175251.43 , 167691.85 , 295276.115,
       280020.246, 155854.775, 299955.762, 188695.523, 201978.424,
       273661.108, 158766.7  , 289381.351, 181676.73 , 212450.29 ,
       263280.814, 396131.965, 214761.85 , 337226.065, 205258.19 ,
       390649.41 , 365461.853, 265799.385, 233230.336, 283173.356,
       390060.38 , 276373.554, 272796.252, 325390.835, 326075.965,
       275232.598, 417360.749, 403802.922, 135374.472, 277142.017,
       134445.188, 224567.095, 135442.93 , 192222.333, 216900.926,
       244239.69 , 381511.336, 177982.285, 328325.405, 192580.049,
       173771.577, 228280.344, 157254.713, 181530.958, 284599.75 ,
       306131.031, 145038.008, 186249.25 , 209976.488, 148328.44 ,
       191287.312,  91669.35 , 260122.617,  97800.545, 188720.776,
       185424.695, 129939.74 , 284534.926, 315276.972, 222154.693,
       182750.9  , 256530.559, 172902.989, 272572.355, 143329.974,
       199146.753, 189663.117, 126414.285, 394206.898, 157309.217,
       197609.06 , 219836.199, 309884.75 , 237352.069, 211755.378,
       198531.153, 196775.173, 160873.008, 187717.32 , 263866.907,
       162033.785, 173365.   , 229367.054, 310339.388, 163347.12 ,
       255647.89 , 189688.613, 439918.95 ,  97061.595, 182285.937,
       188704.153, 274647.498, 225760.412, 308110.693, 272455.028,
       371480.741, 281430.646, 179179.13 , 382679.709, 298613.859,
       248766.674, 415798.861, 228029.407, 281311.093, 213207.185,
       201136.246, 145102.898, 227267.202, 153014.673, 191748.15 ,
       424471.049, 405463.45 , 131126.716, 420636.25 , 183807.899,
       227854.706, 293626.437, 192871.623, 215684.431,  93492.99 ,
       242272.804, 263215.782, 196885.65 , 217221.639, 419841.844,
       163873.088, 263043.924,  98042.424, 133227.795, 437151.171,
       227135.011, 280292.206, 413416.825, 275216.37 , 325056.988,
        98144.95 , 166360.869, 422733.059, 219206.177, 130584.382,
       418997.678, 164652.084, 144846.988, 232709.7  , 286555.991,
       261528.651, 244668.314, 292842.278, 108515.699, 341356.779,
       420473.982, 163630.93 , 153694.149, 211837.965, 370722.712,
       237104.353, 215185.25 , 225885.816, 364437.704, 145845.593,
       162317.627, 152713.04 , 286674.075, 133683.85 , 339711.112,
       219323.81 , 202183.333, 109400.7  , 304852.5  , 220037.546,
       283410.743, 268936.354, 278508.846, 104198.277, 161177.849,
       192748.559, 165096.663, 286008.776, 243571.624, 330190.534,
        97867.3  , 205197.275, 135226.29 , 159620.284, 171285.575,
       178220.036, 438366.78 , 171055.14 , 216279.429, 179738.944,
       185245.427, 187559.8  , 131765.819, 427085.473, 388191.016,
       251952.645, 128225.775, 274231.38 , 201990.941, 171077.958,
       191074.626, 212338.563, 103199.956, 145816.705, 424164.279,
       148268.768, 189744.016, 263815.735, 193266.252, 165034.81 ,
       299016.1  , 401063.055, 102888.377, 258440.126, 189014.148,
       237945.998, 177488.699, 149259.15 , 331214.112, 198094.65 ,
       231971.   , 398972.082, 268848.915, 327760.194, 118815.542,
       157045.905, 131655.677, 224979.589, 301256.93 , 323282.873,
       288744.487, 121884.934, 181824.729, 164157.422, 305162.546,
       194387.49 , 175978.411, 266098.7  , 280759.74 , 214887.011,
       301902.218, 194740.304, 102684.45 , 219519.248, 165027.429,
       182594.835, 270054.794, 346394.408, 277400.107, 158456.465,
       419921.336, 188514.94 , 164407.905, 398377.979, 134870.245,
       123515.185, 171095.13 , 158456.4  , 183835.37 , 403862.996,
       171451.372, 120181.566, 263584.677, 387155.312, 198465.274,
       219976.96 ,  98006.8  , 184306.039, 306671.7  , 172305.755,
       198058.289, 174030.51 , 283122.394, 274888.799, 302190.46 ,
       385683.94 , 195829.828, 258891.173, 297029.343, 400723.12 ,
       249880.904, 272779.413, 150758.59 , 292575.489, 149966.36 ,
       231917.627, 263406.942, 216020.529, 371181.966, 427379.979,
       266910.666, 192059.298,  98606.75 , 181841.638, 356502.726,
       386213.8  , 290142.336, 286301.496, 373207.37 , 186438.369,
       349198.136, 323638.866, 281855.367, 201086.902, 235193.296,
       247950.746, 299946.241, 181546.926, 147754.784, 490582.958,
       189690.298, 275100.076, 378937.1  , 213418.868, 155688.62 ,
       147298.55 , 176512.164, 254707.717, 218919.365, 210909.961,
       170082.4  , 309270.713, 123799.704, 141243.92 , 409052.252,
       411252.309, 173627.693, 157905.105, 171003.501, 189836.05 ,
       178828.885, 174084.34 , 189003.465, 129559.1  , 155066.455,
       168419.918, 182220.136, 487167.62 , 178993.961, 232424.023,
       279238.563, 394942.507, 281415.626, 129788.699, 278647.835,
       279280.15 , 156432.977, 259527.961, 154887.898, 265490.699,
       229807.678, 164772.673, 162155.593, 135901.855, 286452.484,
       211735.85 , 158343.483, 300740.155, 278025.651, 141737.276,
       226260.911, 219893.93 , 233041.806, 304524.712, 106116.919,
       198279.269, 226613.301, 291893.403, 176709.653, 266661.315,
       293593.32 , 185545.27 , 260718.92 , 200899.343, 181410.005,
       244599.083, 423611.75 , 320069.804, 288297.45 , 200943.498,
       101776.08 , 259616.712, 308138.571, 145056.966, 391722.953,
       271259.59 , 176830.268, 124635.88 , 420261.573, 218171.815,
       155619.755, 206307.164, 251570.02 , 272792.961, 129479.291,
       230501.243, 273121.914, 177475.962,  97602.9  , 212387.991,
       189252.333, 162389.289, 216190.695, 407242.075, 178778.523,
       286626.074, 236791.412, 157914.616, 364055.375, 279534.14 ,
       418868.736, 165362.8  , 192299.583, 405899.509, 246833.122,
       153612.68 , 220442.654, 100113.68 , 285191.534, 207230.9  ,
       234192.743, 336340.418, 384007.361, 434176.315, 208606.64 ,
       365336.656, 238270.118, 374658.717, 275787.417, 126384.789,
       210373.752, 371130.749, 291156.95 , 394666.026, 215139.485,
       199557.751, 131322.24 , 300704.838, 312542.319, 259329.762,
       172936.769,  85729.806, 166001.95 , 386971.133, 203467.188,
       143411.954, 268761.122, 233279.15 , 284827.6  , 135061.59 ,
       159613.615,  84204.069, 491218.076, 167997.821, 308645.744,
       176412.929, 214112.471,  98977.55 , 164475.44 , 167043.131,
       396394.76 , 174868.857, 300496.849, 433071.55 , 295393.465,
       124486.499, 157215.273, 128779.063, 199813.626, 202338.884,
       296951.101, 193735.155, 175058.162, 186927.986, 287610.272,
       164753.775, 262557.577, 430727.54 , 245879.631, 214877.82 ,
       144834.193, 148353.826, 214372.736, 327944.442, 326367.61 ,
       194435.2  , 181348.448,  92861.64 , 204814.063, 130036.405,
       215755.063, 222469.583, 250022.266, 303358.821, 103302.467,
       204462.066, 134097.633, 141097.359, 189257.375, 273880.848,
       179255.924, 277377.826, 251458.22 , 375720.996, 233200.679,
       367779.434, 415200.62 , 333107.075])

In [15]:
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5614705407387783, 'median_square_feet'),
 (0.08802895727449206, 'violent_crime_rate'),
 (0.06574498431408445, 'Number_of_Schools'),
 (0.05031801854852657, 'active_listing_count'),
 (0.03794307544888948, 'total_listing_count'),
 (0.028564797714270007, 'Number_of_Parks'),
 (0.016485373852907107, 'County_Dare'),
 (0.01358105974274081, 'County_Chatham'),
 (0.012519733195902683, 'County_Buncombe'),
 (0.011198816759373596, 'median_days_on_market'),
 (0.011172013836695282, 'price_reduced_count'),
 (0.009348394857507016, 'County_Carteret'),
 (0.008830557095004804, '30_Year_Fixed_Rate'),
 (0.007813767024528276, 'new_listing_count'),
 (0.006730581228355788, 'price_increased_count'),
 (0.004346634361814265, 'County_Clay'),
 (0.004123472741641632, 'County_Haywood'),
 (0.004107111055483487, 'County_Hertford'),
 (0.0036802074242333, 'Year'),
 (0.003607763697718617, 'County_Henderson'),
 (0.003573800968378975, 'County_Orange'),
 (0.0027189458012043316, 'County_Polk'),
 (0.002667008937458723, 'County_Davidson'),
 (0.0024338632127990424, 'County_Chowan'),
 (0.002390295429762892, 'County_Scotland'),
 (0.002310175803579678, 'County_Stanly'),
 (0.002196161434601414, 'County_Durham'),
 (0.0017900651493036397, 'County_Jackson'),
 (0.0015390211062575089, 'County_Alleghany'),
 (0.0014458346290570914, 'County_Forsyth'),
 (0.0013430735058165366, 'County_Person'),
 (0.0013312671483454394, 'County_Northampton'),
 (0.0013155919863172935, 'County_Surry'),
 (0.0012788168532299766, 'County_Duplin'),
 (0.0012624329625789718, 'County_Pamlico'),
 (0.0010814601467169296, 'County_Yadkin'),
 (0.0010220674864593042, 'County_Swain'),
 (0.0008467192240104027, 'County_Macon'),
 (0.0008436448318047158, 'County_Davie'),
 (0.0008297497113785416, 'County_Beaufort'),
 (0.0007580979116746275, 'County_Montgomery'),
 (0.0007140793403353918, 'County_Columbus'),
 (0.0006882754092771082, 'County_Rutherford'),
 (0.0006537239206095446, 'County_Currituck'),
 (0.0006384775373441205, 'County_Lincoln'),
 (0.0005798834953195585, 'County_Brunswick'),
 (0.0005619475476410794, 'County_Pender'),
 (0.0005365112253058115, 'County_Bertie'),
 (0.0005345915203904502, 'County_Halifax'),
 (0.000513161787823763, 'County_Catawba'),
 (0.0004448994781576696, 'County_Hoke'),
 (0.00043158146801751244, 'County_Cabarrus'),
 (0.00039523772903846035, 'County_Graham'),
 (0.0003708520465748183, 'County_Madison'),
 (0.00036748684515500895, 'County_Franklin'),
 (0.0003524756000090755, 'County_Guilford'),
 (0.0003500725549795052, 'County_Avery'),
 (0.00033671146092292034, 'County_Moore'),
 (0.0003289522413468053, 'County_Pasquotank'),
 (0.00031695252045051966, 'County_Rockingham'),
 (0.0003145950069354189, 'County_Transylvania'),
 (0.0002915157206046283, 'County_Wilkes'),
 (0.0002907655064004947, 'County_Watauga'),
 (0.00028694655844504265, 'County_Anson'),
 (0.0002819103705322801, 'County_Wilson'),
 (0.00026029291534920113, 'County_Randolph'),
 (0.00025051637961519285, 'County_Martin'),
 (0.0002449005426243407, 'County_Cherokee'),
 (0.0002430039206548929, 'County_Johnston'),
 (0.00023545804381209224, 'County_Caswell'),
 (0.00023537189696908045, 'County_Alamance'),
 (0.0002326726865611893, 'County_Perquimans'),
 (0.00022968482634801838, 'County_Stokes'),
 (0.00022184626572973524, 'County_Onslow'),
 (0.00021384111932633423, 'County_Craven'),
 (0.00020679847036069802, 'County_Cleveland'),
 (0.00019929962524577324, 'County_Vance'),
 (0.00017742789438674456, 'County_Yancey'),
 (0.00016325215592239507, 'County_Mecklenburg'),
 (0.00015318463516517558, 'County_Sampson'),
 (0.00014766255519429615, 'County_Alexander'),
 (0.0001388212337392618, 'County_Harnett'),
 (0.00013489601540934282, 'County_Warren'),
 (0.00012925149084753545, 'County_Edgecombe'),
 (0.00010083960248068302, 'County_Lee'),
 (8.926588923355237e-05, 'County_Gaston'),
 (8.096103419346349e-05, 'County_Robeson'),
 (7.760431557257263e-05, 'County_Camden'),
 (7.629598125027027e-05, 'County_Cumberland'),
 (7.196167698058792e-05, 'County_Tyrrell'),
 (6.592427115468897e-05, 'County_Burke'),
 (6.393406954129929e-05, 'County_Pitt'),
 (6.021033407561245e-05, 'County_Lenoir'),
 (5.827465406230524e-05, 'County_Iredell'),
 (5.761918088204042e-05, 'County_Richmond'),
 (3.982839308225332e-05, 'County_Rowan'),
 (3.6658768980326844e-05, 'County_Wayne'),
 (3.195288981027347e-05, 'County_Granville'),
 (2.6750083980804905e-05, 'County_Union'),
 (1.9827012417898675e-05, 'County_Greene'),
 (1.7674570530626964e-05, 'County_Caldwell'),
 (1.6906747730628503e-05, 'County_Nash'),
 (1.0145333509481257e-05, 'County_Ashe'),
 (3.6204719685745686e-06, 'County_Wake')]

In [16]:
rf_model.get_params().keys()

dict_keys(['bootstrap', 'ccp_alpha', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'])

In [17]:
rf_model.decision_path(X)

(<2610x2289454 sparse matrix of type '<class 'numpy.int64'>'
 	with 39281214 stored elements in Compressed Sparse Row format>,
 array([      0,    2297,    4584, ..., 2284806, 2287157, 2289454],
       dtype=int32))

In [18]:
rf_model.apply(X)

array([[1259, 1374, 1390, ..., 1376, 1338, 1487],
       [ 893,  293,  382, ...,  310,  422,  284],
       [ 857,  198,  109, ...,  214,   89,  128],
       ...,
       [1192,  893,  944, ...,  953,  829,  937],
       [1794, 1747, 1681, ..., 1767, 1672, 1783],
       [ 260,  361,  126, ...,   85,   27,  337]], dtype=int64)

In [19]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [20]:
# Use the random grid to search for best hyperparameters
#rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf_model, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3,
                   estimator=RandomForestRegressor(n_estimators=1000,
                                                   random_state=1),
                   n_iter=100, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=42, verbose=2)

In [21]:
rf_random.best_params_

{'n_estimators': 400,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': None,
 'bootstrap': False}

In [22]:
accuracy = 0 
def evaluate(rf_model, X_test, y_test):
    global accuracy
    predictions = model.predict(X_test)
    errors = abs(predictions - y_test)
    mape = 100 * np.mean(errors / y_test)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [23]:
accuracy

0

In [24]:
base_model = rf_model(n_estimators = 10, random_state = 42)
base_model.fit(X_train, y_train)
base_accuracy = evaluate(base_model, X_test, y_test)

TypeError: 'RandomForestRegressor' object is not callable